Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: check-staged-backend-style
        name: Checking staged backend code style
        entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: 'backend.*(fleet|mariner|api|tests).*\.py'
        stages:
          - commit
      - id: check-staged-webapp-style
        name: Checking staged webapp code style
        entry: bash -c 'cd webapp && npm run prettier:check'
        fail_fast: true
        files: 'webapp.*\.(ts|tsc)'
        pass_filenames: false
        language: system
        stages:
          - commit
      - id: lint-staged-backend
        name: Linting staged code in backend
        entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
        language: system
        types: [python]
        files: '^backend/'
        pass_filenames: true
        fail_fast: true
        stages:
          - commit
      - id: lint-staged-webapp
        name: Linting staged code in webapp
        entry: bash -c "cd webapp && npm run eslint:check"
        language: system
        types: [ts, tsx]
        files: ^webapp/
        fail_fast: true
        stages:
          - commit
      - id: test-backend-unit
        name: Running backend unit tests
        entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
        language: system
        files: '^backend/'
        types: [ python ]
        stages:
          - commit
      - id: test-webapp
        name: Running front end  unit tests
        entry: bash -c "cd webapp && npm run test:unit"
        language: system
        pass_filenames: false
        fail_fast: true
        files: '^webapp/'
        types: [ ts, tsx ]
        stages:
          - commit
      # Manual hooks
      - id: format-staged-fix-backend
        verbose: true
        name: Format staged files in the backend
        entry: bash -c 'cd backend && poetry run sh scripts/format-single.sh ${@#"backend/"}' --
        pass_filenames: true
        files: '^backend/'
        types: [python]
        language: system
        stages:
          - manual
      - id: format-staged-fix-webapp
        name: Formats staged files in the webapp
        entry: bash -c  "cd webapp && npm run prettier:fix && npm run eslint:fix"
        language: system
        stages:
          - manual

fix: backend ci
  .github/workflows/ci.yml
Due: none

debug ci
  .github/workflows/ci.yml
Due: none

fix ci
  .github/workflows/ci.yml
Due: none

fix: Model editor node number inputs continuously increasing/decreasing when using stepper
  webapp/src/components/atoms/CustomInputField/index.tsx
Due: check-staged-webapp-style

ci: comment how to get CHANGED_FILES [no ci]
  .github/workflows/ci.yml
Due: none

Fix/dataset name uniqueness (#160)
  .github/workflows/ci-cypress.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-all.yml
  .github/workflows/matchers/pylint.json
  Makefile
  backend/.env
  backend/api/api_v1/endpoints/model.py
  backend/api/websocket.py
  backend/mariner/alembic/versions/25191563d370_remove_uniqueness_of_dataset_name.py
  backend/mariner/deployment.py
  backend/mariner/entities/dataset.py
  backend/mariner/experiments.py
  backend/mariner/models.py
  backend/mariner/stores/dataset_sql.py
  backend/mariner/stores/deployment_sql.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/fixtures/dataset.py
  backend/tests/mariner/stores/test_dataset_sql.py
  backend/tests/mariner/test_models.py
  docker-compose.yml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

style:
  webapp/src/features/datasets/components/DatasetForm/index.tsx
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
Due: check-staged-webapp-style

fix: bad copy paste on model creation error notification
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

fix: python ci cache key and missing running tests when pylint fails [no ci]
  .github/workflows/ci.yml
Due: none

refactor: rename class
  backend/api/websocket.py
  backend/mariner/datasets.py
  backend/mariner/deployment.py
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

remove logs
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: Syncronized types with OpenAPI updates
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
Due: check-staged-webapp-style

chore: add sqlalchemy-pylint plugin
  backend/poetry.lock
  backend/pylintrc
  backend/pyproject.toml
  backend/scripts/lint-single.sh
Due: none

fix: type error
  backend/mariner/datasets.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ignore no-member error in ray decorated instances
  backend/mariner/datasets.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

refactor: group useEffect that run navigate together
  webapp/src/features/users/Authentication.tsx
Due: check-staged-webapp-style

fix: reattempt websocket connection every login attempt
  webapp/src/app/websocket/context.tsx
Due: check-staged-webapp-style

feat: Implemented UI for model training cancel feature.
  webapp/src/app/rtk/experiments.ts
  webapp/src/components/templates/ConfirmationDialog/index.tsx
  webapp/src/features/deployments/Components/DeploymentForm.tsx
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
Due: check-staged-webapp-style

Fix/metrics auto mode (#162)
  .github/workflows/ci.yml
  backend/api/websocket.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/schemas.py
  backend/mariner/alembic/versions/25191563d370_remove_uniqueness_of_dataset_name.py
  backend/mariner/datasets.py
  backend/mariner/deployment.py
  backend/mariner/experiments.py
  backend/poetry.lock
  backend/pylintrc
  backend/pyproject.toml
  backend/scripts/lint-single.sh
  backend/tests/api/api_v1/test_notifications.py
  backend/tests/conftest.py
  backend/tests/fleet/test_fleet.py
  backend/tests/mariner/test_experiments.py
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/websocket/context.tsx
  webapp/src/features/datasets/components/DatasetForm/index.tsx
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.stories.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/features/trainings/components/AdvancedOptionsForm.tsx
  webapp/src/features/trainings/components/CheckpointingForm.tsx
  webapp/src/features/trainings/components/MetricSelect.tsx
  webapp/src/features/trainings/pages/TrainingListing/columns.tsx
  webapp/src/features/users/Authentication.tsx
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

UI updates (#163)
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/atoms/CustomInputField/index.tsx
  webapp/src/components/atoms/VirtualizedAutocomplete/index.tsx
  webapp/src/components/molecules/UnitsAutocomplete/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
Due: check-staged-webapp-style

Release v0.1.8
  backend/pyproject.toml
Due: none

feat: add endpoint to cancel training
  backend/api/api_v1/endpoints/experiments.py
  backend/fleet/ray_actors/tasks.py
  backend/mariner/experiments.py
  backend/tests/fleet/ray_actors/test_tasks.py
  backend/tests/mariner/test_experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: test
  backend/tests/mariner/test_experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

small adjustments model trainings
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/src/components/templates/ConfirmationDialog/index.tsx
  webapp/src/features/deployments/Components/DeploymentForm.tsx
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.stories.tsx
Due: check-staged-webapp-style

style: run code formating tools
  webapp/src/app/rtk/generated/models.ts
  webapp/src/components/atoms/CustomInputField/index.tsx
  webapp/src/components/atoms/VirtualizedAutocomplete/index.tsx
  webapp/src/components/molecules/UnitsAutocomplete/index.tsx
  webapp/src/components/templates/ConfirmationDialog/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/features/deployments/Components/DeploymentForm.tsx
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
Due: check-staged-webapp-style

feat: Implemented custom dialog interface option messages + small improvements on the table UI + applied new localStorage handler layer to the Websocket handler.
  webapp/src/app/websocket/context.tsx
  webapp/src/app/websocket/handler.ts
  webapp/src/components/templates/ConfirmationDialog/index.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/modelSlice.ts
Due: check-staged-webapp-style

fix: Model form Resize Observer error + removed unused Vite config file + refactored cypress training completed check routine.
  webapp/cypress.config.js
  webapp/cypress/e2e/models/model-form.cy.ts
  webapp/cypress/support/training/create.ts
  webapp/cypress/vite.config.ts
  webapp/package.json
  webapp/vite.config.js
Due: check-staged-webapp-style

fix: ev metric direction should be max
  backend/fleet/torch_/schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: remove tasks when they are done
  backend/fleet/ray_actors/tasks.py
  backend/mariner/experiments.py
  backend/tests/fleet/ray_actors/test_tasks.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

remove unused functions and fix test
  backend/fleet/ray_actors/tasks.py
  backend/tests/fleet/ray_actors/test_tasks.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Release v0.1.9
  backend/pyproject.toml
Due: none

fix: Training table duplicating Train loss column
  webapp/src/features/trainings/pages/TrainingListing/columns.tsx
Due: check-staged-webapp-style

fix: Updated model column selector inputs to avoid closing on selection
  webapp/src/features/models/components/ColumnDescriptionSelector.tsx
Due: check-staged-webapp-style

fix: Pinned model editor side bar header on scrolling + removed unused imports + fixed ConstructorArgsInputs hooks order.
  webapp/src/components/templates/TorchModelEditorV2/OptionsSidebarV2.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/BaseNode/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
Due: check-staged-webapp-style

fix: Model editor not rendering edges on model details page + fixed console warnings and errors for the model editor.
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/templates/TorchModelEditor/Components/DocsModel/DocsModel.tsx
  webapp/src/components/templates/TorchModelEditor/Components/TorchModelEditorControls/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/CustomHandles.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/NodeHeader.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/OutputNode.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/hooks/useTorchModelEditor/index.tsx
  webapp/src/hooks/useTorchModelEditor/types.ts
Due: check-staged-webapp-style
