Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: check-staged-backend-style
        name: Checking staged backend code style
        entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: 'backend.*(fleet|mariner|api|tests).*\.py'
        stages:
          - commit
      - id: check-staged-webapp-style
        name: Checking staged webapp code style
        entry: bash -c 'cd webapp && npm run prettier:check'
        fail_fast: true
        files: 'webapp.*\.(ts|tsc)'
        pass_filenames: false
        language: system
        stages:
          - commit
      - id: lint-staged-backend
        name: Linting staged code in backend
        entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
        language: system
        types: [python]
        files: '^backend/'
        pass_filenames: true
        fail_fast: true
        stages:
          - commit
      - id: lint-staged-webapp
        name: Linting staged code in webapp
        entry: bash -c "cd webapp && npm run eslint:check"
        language: system
        types: [ts, tsx]
        files: ^webapp/
        fail_fast: true
        stages:
          - commit
      - id: test-backend-unit
        name: Running backend unit tests
        entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
        language: system
        files: '^backend/'
        types: [ python ]
        stages:
          - commit
      - id: test-webapp
        name: Running front end  unit tests
        entry: bash -c "cd webapp && npm run test:unit"
        language: system
        pass_filenames: false
        fail_fast: true
        files: '^webapp/'
        types: [ ts, tsx ]
        stages:
          - commit
      # Manual hooks
      - id: format-staged-fix-backend
        verbose: true
        name: Format staged files in the backend
        entry: bash -c 'cd backend && poetry run sh scripts/format-single.sh ${@#"backend/"}' --
        pass_filenames: true
        files: '^backend/'
        types: [python]
        language: system
        stages:
          - manual
      - id: format-staged-fix-webapp
        name: Formats staged files in the webapp
        entry: bash -c  "cd webapp && npm run prettier:fix && npm run eslint:fix"
        language: system
        stages:
          - manual

fix: prediction for public deployments
  backend/mariner/deployment.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: Start implementing column picker popover for table component.
  webapp/src/components/organisms/Table/ColumnPicker.tsx
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/templates/Table/Table.stories.tsx
Due: check-staged-webapp-style

refactor: Splitted new TreeView component logic in separated hooks + improved reusability.
  webapp/src/components/organisms/Table/ColumnPicker.tsx
  webapp/src/components/organisms/TreeView/hooks/useSelectedNodes.tsx
  webapp/src/components/organisms/TreeView/hooks/useTreeFilters.tsx
  webapp/src/components/organisms/TreeView/index.tsx
  webapp/src/components/organisms/TreeView/types.ts
Due: check-staged-webapp-style

feat: Implemented drag and drop feature for the table component header
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/organisms/Table/DraggableCell.tsx
  webapp/src/components/organisms/Table/SortableRow.tsx
  webapp/src/components/templates/Table/SortingButton.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/features/models/components/ModelExperiments.tsx
Due: check-staged-webapp-style

chore: More UI improvements on the table header.
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/templates/Table/index.tsx
Due: check-staged-webapp-style

chore: update python3.10 and fastapi
  backend/api/api_v1/endpoints/experiments.py
  backend/deps.py
  backend/fleet/metrics.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/schemas.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/mariner/test_datasets.py
  backend/tests/mariner/test_utils.py
  docker-compose.yml
  dockerfiles/Dockerfile.local
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: Implemented persistent columns sorting preferences on table component.
  webapp/src/app/api.ts
  webapp/src/app/local-storage.ts
  webapp/src/app/rtk/api.ts
  webapp/src/app/websocket/types.ts
  webapp/src/components/templates/RequireAuth.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/features/datasets/components/DatasetTable.tsx
  webapp/src/features/deployments/Components/DeploymentsTable.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/components/ModelMetricsView.tsx
  webapp/src/features/models/components/ModelTable.tsx
  webapp/src/features/models/components/ModelVersions.tsx
  webapp/src/features/trainings/pages/TrainingListing/index.tsx
  webapp/src/features/users/Authentication.tsx
  webapp/src/features/users/usersSlice.ts
  webapp/src/utils/index.tsx
Due: check-staged-webapp-style

feat: Applied "expand on select" behavior on SklearnModelInput component
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
Due: check-staged-webapp-style

feat: Implementing table column adding and hiding feature + persisting preferences throughout user session.
  webapp/src/app/local-storage.ts
  webapp/src/components/organisms/Table/ColumnPicker.tsx
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/TreeView/hooks/useSelectedNodes.tsx
  webapp/src/components/organisms/TreeView/hooks/useTreeFilters.tsx
  webapp/src/components/organisms/TreeView/index.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
Due: check-staged-webapp-style

chore: finish python3.10 Dockerfile
  backend/deps.py
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.local
Due: lint-staged-backend, test-backend-unit

remove heatlhcheck from dockerfile since it is used by other applications with different healthcheks
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.local
  dockerfiles/Dockerfile.mlflow
Due: none

fix: update dataset when errors not related to data type
  webapp/src/features/datasets/components/DatasetDetailsView/DatasetErrorsView.tsx
Due: check-staged-webapp-style

ci: upgrade to python3.10
  .github/workflows/ci.yml
Due: none

fix: Table column pick not working properly with sorting + fixed table filter popover overlaybug and other small fixes.
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
  webapp/src/components/templates/Table/ColumnFiltersInput.tsx
  webapp/src/components/templates/Table/FilterIndicator.tsx
  webapp/src/components/templates/Table/SortingButton.tsx
  webapp/src/components/templates/Table/SortingIndicator.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/hooks/usePopoverState.tsx
Due: check-staged-webapp-style

fix: Fixed columns being able to manipulate on column picker menu + more table filter popover bugfixes.
  webapp/src/components/organisms/Table/DraggableCell.tsx
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
  webapp/src/components/organisms/Table/SortableRow.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/utils/index.tsx
Due: check-staged-webapp-style

feat: Implemented table preferences persintence for each user.
  webapp/src/app/local-storage.ts
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/features/users/usersSlice.ts
Due: check-staged-webapp-style

feat: adapt metrics to work with gpu and update production Dockerfile image
  backend/fleet/metrics.py
  backend/fleet/model_functions.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/models.py
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.local
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: local dockerfile
  dockerfiles/Dockerfile.local
Due: none

refactor: Created new hook to deal with the table filtering + some filtering bug fixes on the experiments table + starting implementation of new filtering logic for the component.
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/hooks/useTableFilters.tsx
  webapp/src/components/templates/Table/ColumnFiltersInput.tsx
  webapp/src/components/templates/Table/FilterIndicator.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/features/datasets/components/DatasetTable.tsx
  webapp/src/features/models/common.ts
  webapp/src/features/models/components/ModelMetricsView.tsx
  webapp/src/features/models/components/ModelVersions.tsx
Due: check-staged-webapp-style

refactor: Implemented new client filtering logic for the table component + table header menu UI/UX improvements.
  webapp/src/components/organisms/Table/ColumnPicker.tsx
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
  webapp/src/components/organisms/Table/hooks/filterStrategies.ts
  webapp/src/components/organisms/Table/hooks/filterValidation.ts
  webapp/src/components/organisms/Table/hooks/useTableFilters.tsx
  webapp/src/components/templates/Table/ColumnFiltersInput.tsx
  webapp/src/components/templates/Table/SortingButton.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/features/datasets/components/DatasetTable.tsx
  webapp/src/features/deployments/Components/DeploymentsTable.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/components/ModelMetricsView.tsx
  webapp/src/features/models/components/ModelVersions.tsx
Due: check-staged-webapp-style

fix: Table filter hook sortRows() function late declaration
  webapp/src/components/organisms/Table/hooks/useTableFilters.tsx
Due: check-staged-webapp-style

fix: inference line always on 0
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
Due: check-staged-webapp-style

fix type errors
  webapp/src/features/datasets/components/DatasetDetailsView/DatasetErrorsView.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
Due: check-staged-webapp-style

fix: Applied multiple column sort for metrics table + implemented valueGetter() integration with sort function.
  webapp/src/components/organisms/Table/hooks/useTableFilters.tsx
  webapp/src/features/models/components/ModelMetricsView.tsx
Due: check-staged-webapp-style

fix: missing preprocessing args
  backend/fleet/preprocessing.py
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

remove debugging print
  backend/fleet/preprocessing.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

test: New component tests for the table.
  webapp/cypress.config.js
  webapp/cypress/component/Table.cy.tsx
  webapp/cypress/support/commands.ts
  webapp/cypress/support/component.ts
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/organisms/Table/ChipFilterContain.tsx
  webapp/src/components/organisms/Table/DraggableCell.tsx
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
  webapp/src/components/templates/Table/ColumnFiltersInput.tsx
  webapp/src/components/templates/Table/SortingButton.tsx
  webapp/src/components/templates/Table/Table.stories.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/features/models/components/ModelMetricsView.tsx
  webapp/tests/fixtures/table/experimentsDataMock.tsx
  webapp/tsconfig.json
Due: check-staged-webapp-style

add useGpu switch to torch training config form
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/features/models/components/ModelExperimentForm/index.tsx
  webapp/src/hooks/useModelOptions.ts
Due: check-staged-webapp-style

fix: Dockerfile.local inconsistent with build args and fix cast to numpy without allocating on cpu
  backend/fleet/torch_/model_functions.py
  dockerfiles/Dockerfile.local
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: add other service to run backend locally [no ci]
  Makefile
Due: none

fix: Filters not working with multiple "OR" conditions + implemented unit tests + component tests and table header UI improvements.
  webapp/cypress/component/Table.cy.tsx
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
  webapp/src/components/organisms/Table/hooks/filterValidation.ts
  webapp/src/components/organisms/Table/hooks/filters/filterStrategies.ts
  webapp/src/components/organisms/Table/hooks/filters/filterValidation.test.ts
  webapp/src/components/organisms/Table/hooks/filters/filterValidation.ts
  webapp/src/components/organisms/Table/hooks/filters/useTableFilters.tsx
  webapp/src/components/templates/Table/SortingButton.tsx
  webapp/src/components/templates/Table/Table.stories.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/utils/arrays.ts
  webapp/tests/fixtures/table/columnsMock.tsx
  webapp/tests/fixtures/table/rowsMock.tsx
Due: check-staged-webapp-style

fix: Delivered uncommited fixes.
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
Due: check-staged-webapp-style

chore: Removed unused Cypress drag commands.
  webapp/cypress/support/commands.ts
  webapp/cypress/support/dragdrop.ts
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
Due: check-staged-webapp-style

chore: Component tests CI and mocked API start implementation.
  .github/workflows/ci-component.yml
  Makefile
  docker-compose.yml
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/support/component.ts
  webapp/package-lock.json
  webapp/package.json
  webapp/src/features/deployments/MOCK/msw/server.ts
  webapp/src/mock/msw/api.ts
  webapp/src/mock/msw/endpoints/deployments/data.ts
  webapp/src/mock/msw/endpoints/deployments/handlers.ts
  webapp/src/mock/msw/endpoints/models/data.ts
  webapp/src/mock/msw/endpoints/models/handlers.ts
  webapp/src/mock/msw/server.ts
Due: check-staged-webapp-style

Git push with no workflow permissions workaround.
  .github/ci-component.yml
Due: none

refactor: Renamed table hook name + applied fixed columns to remaining tables + fixed non contains chip filter label format + grouped columns on experiments table column picker.
  webapp/src/components/organisms/Table/ColumnPicker.tsx
  webapp/src/components/organisms/Table/Filters.tsx
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
  webapp/src/components/organisms/Table/hooks/useTableState.tsx
  webapp/src/components/templates/Table/SortingButton.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/components/templates/Table/types.ts
  webapp/src/features/datasets/components/DatasetTable.tsx
  webapp/src/features/deployments/Components/DeploymentsTable.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/components/ModelTable.tsx
Due: check-staged-webapp-style

test: Implemented tests for the table preferences persistence.
  webapp/cypress/component/Table.cy.tsx
  webapp/src/features/users/usersSlice.ts
Due: check-staged-webapp-style

feat: Implemented mocked API endpoints for component tests CI.
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/support/component.ts
  webapp/src/mock/msw/api.ts
  webapp/src/mock/msw/server.ts
Due: check-staged-webapp-style

chore: Refactoring new component test CI to a single Cypress workflow + start fixing Cypress E2E errors.
  .env
  .github/ci-component.yml
  .github/workflows/ci-cypress.yml
  Makefile
  docker-compose.yml
  webapp/cypress.config.js
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/e2e/complete-test.cy.ts
  webapp/cypress/e2e/models/model-inference.cy.ts
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/training/create.ts
  webapp/src/features/models/components/ModelVersionSelect.tsx
Due: check-staged-webapp-style

chore: CI fix test.
  Makefile
  docker-compose.yml
  webapp/cypress.config.js
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/e2e/complete-test.cy.ts
  webapp/cypress/e2e/datasets/dataset-creation.cy.ts
  webapp/cypress/e2e/datasets/dataset-update.cy.ts
  webapp/cypress/e2e/datasets/datasets-creation-form.cy.ts
  webapp/cypress/e2e/datasets/datasets-listing.cy.ts
Due: check-staged-webapp-style
