Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

check-staged-backend-style:
  name: Checking staged backend code style
  entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

check-staged-webapp-style:
  name: Checking staged webapp code style
  entry: bash -c 'cd webapp && npm run prettier:check'
  fail_fast: true
  pass_filenames: false
  language: system
  stages:
  - commit

lint-staged-backend:
  name: Linting staged code in backend
  entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

lint-staged-webapp:
  name: Linting staged code in webapp
  entry: bash -c "cd webapp && npm run eslint:check"
  language: system
  fail_fast: true
  stages:
  - commit

test-backend-unit:
  name: Running backend unit tests
  entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
  language: system
  stages:
  - commit

test-webapp:
  name: Running front end  unit tests
  entry: bash -c "cd webapp && npm run test:unit"
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - commit

chore: fix pt.2
  .github/workflows/ci-cypress.yml
Due: none

chore: fix pt.3
  .github/workflows/ci-cypress.yml
Due: none

chore: fix pt.4
  .github/workflows/ci-cypress.yml
Due: none

chore: fix pt.5
  .github/workflows/ci-cypress.yml
Due: none

chore: fix pt.6
  docker-compose-cicd.yml
Due: none

chore: fix pt.7
  .github/workflows/ci-cypress.yml
Due: none

chore: fix pt.8
  .github/workflows/ci-cypress.yml
Due: none

chore: fix pt.9
  .env
  .github/workflows/ci-cypress.yml
  .github/workflows/ci-docker.yml
  Makefile
  docker-compose.cicd.yml
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/package-lock.json
  webapp/package.json
Due: check-staged-webapp-style

test: Fixed some E2E test failures.
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/cypress/e2e/models/model-training.cy.ts
  webapp/cypress/support/commands.ts
  webapp/cypress/support/models/create.ts
  webapp/cypress/support/training/create.ts
Due: check-staged-webapp-style

test: More E2E test fixes.
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/cypress/support/commands.ts
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/training/create.ts
Due: check-staged-webapp-style

\fix: Dockerfile [no ci]
  dockerfiles/Dockerfile
Due: none

test: More E2E test fixes pt.2
  webapp/cypress/support/commands.ts
  webapp/cypress/support/models/build-model.ts
Due: check-staged-webapp-style

fix: stop using gpu on prediction
  backend/entrypoints/ray-head.sh
  backend/fleet/ray_actors/deployments_manager.py
  backend/fleet/torch_/model_functions.py
  backend/mariner/core/mlflowapi.py
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

update dockerfile names
  .github/workflows/deploy-all.yml
  docker-compose-gpu.yml
  docker-compose.yml
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
Due: none

style: format backend code
  backend/api/api_v1/endpoints/model.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/ray_actors/deployments_manager.py
  backend/fleet/torch_/model_functions.py
  backend/mariner/core/mlflowapi.py
  backend/mariner/experiments.py
  backend/tests/conftest.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

test: More E2E test fixes pt.3
  webapp/cypress/e2e/models/model-training.cy.ts
  webapp/cypress/support/deployments/workflow.ts
  webapp/cypress/support/models/create.ts
Due: check-staged-webapp-style

fix: attribute error
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

test: More E2E test fixes pt.4
  webapp/cypress/support/deployments/workflow.ts
  webapp/cypress/support/models/build-model.ts
Due: check-staged-webapp-style

test: CI trigger.
  webapp/cypress/support/deployments/workflow.ts
Due: check-staged-webapp-style

test: Deployments E2E fix prototype
  .github/workflows/ci-cypress.yml
  Makefile
  webapp/cypress/support/commands.ts
  webapp/cypress/support/deployments/delete.ts
  webapp/cypress/support/deployments/workflow.ts
  webapp/cypress/support/models/build-model.ts
Due: check-staged-webapp-style

test: Deployments E2E fix prototype pt.2
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.3
  .github/workflows/ci-cypress.yml
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
Due: check-staged-webapp-style

test: Deployments E2E fix prototype pt.4
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.5
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.6
  .github/workflows/ci-cypress.yml
Due: none

chore: final fixes for gpu [no ci]
  backend/fleet/ray_actors/training_actors.py
  backend/mariner/experiments.py
  docker-compose-gpu.yml
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

test: Deployments E2E fix prototype pt.7
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.8
  .github/workflows/ci-cypress.yml
  Makefile
Due: none

test: Deployments E2E fix prototype pt.9
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.10
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.11
  .github/workflows/ci-cypress2.yml
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
Due: check-staged-webapp-style

test: Deployments E2E fix prototype pt.12
  .github/workflows/ci-cypress.yml
  .github/workflows/ci-cypress2.yml
Due: none

test: Deployments E2E fix prototype pt.13
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.14
  .github/workflows/ci-cypress.yml
Due: none

Github Action - Fix dockerfile
  dockerfiles/Dockerfile.cpu
Due: none

test: Deployments E2E fix prototype pt.15
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.16
  .github/workflows/ci-cypress.yml
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
Due: check-staged-webapp-style

test: Deployments E2E fix prototype pt.17
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.18
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.19
  .github/workflows/ci-cypress.yml
Due: none

Path conditions:
  check-staged-backend-style: any of: backend.*(fleet|mariner|api|tests).*\.py and \.py$
  check-staged-webapp-style: any of: webapp.*\.(ts|tsc)
  lint-staged-backend: any of: ^backend/ and \.py$
  lint-staged-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
  test-backend-unit: any of: ^backend/ and \.py$
  test-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
