Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: check-staged-backend-style
        name: Checking staged backend code style
        entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: 'backend.*(fleet|mariner|api|tests).*\.py'
        stages:
          - commit
      - id: check-staged-webapp-style
        name: Checking staged webapp code style
        entry: bash -c 'cd webapp && npm run prettier:check'
        fail_fast: true
        files: 'webapp.*\.(ts|tsc)'
        pass_filenames: false
        language: system
        stages:
          - commit
      - id: lint-staged-backend
        name: Linting staged code in backend
        entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
        language: system
        types: [python]
        files: '^backend/'
        pass_filenames: true
        fail_fast: true
        stages:
          - commit
      - id: lint-staged-webapp
        name: Linting staged code in webapp
        entry: bash -c "cd webapp && npm run eslint:check"
        language: system
        types: [ts, tsx]
        files: ^webapp/
        fail_fast: true
        stages:
          - commit
      - id: test-backend-unit
        name: Running backend unit tests
        entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
        language: system
        files: '^backend/'
        types: [ python ]
        stages:
          - commit
      - id: test-webapp
        name: Running front end  unit tests
        entry: bash -c "cd webapp && npm run test:unit"
        language: system
        pass_filenames: false
        fail_fast: true
        files: '^webapp/'
        types: [ ts, tsx ]
        stages:
          - commit
      # Manual hooks
      - id: format-staged-fix-backend
        verbose: true
        name: Format staged files in the backend
        entry: bash -c 'cd backend && poetry run sh scripts/format-single.sh ${@#"backend/"}' --
        pass_filenames: true
        files: '^backend/'
        types: [python]
        language: system
        stages:
          - manual
      - id: format-staged-fix-webapp
        name: Formats staged files in the webapp
        entry: bash -c  "cd webapp && npm run prettier:fix && npm run eslint:fix"
        language: system
        stages:
          - manual

ci: fix ci
  .github/workflows/ci.yml
Due: none

ci: update .env files and ci
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  backend/.env
  backend/.env.secret
  docker-compose.yml
Due: none

fix: docker-compose cicd file
  .github/workflows/ci-docker.yml
  backend/.env
  backend/poetry.lock
  backend/pytest.ini
  docker-compose-cicd.yml
  docker-compose.yml
Due: none

fix: recover sts changes
  backend/mariner/core/aws.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

\fix: wrong attribute name
  backend/mariner/core/aws.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: clean aws.py
  backend/mariner/core/aws.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ci: fix mlflow and mariner db conflict during ci
  .github/workflows/ci-docker.yml
  backend/.env
  docker-compose-cicd.yml
  docker-compose.yml
Due: none

increase healthcheck patience
  docker-compose.yml
Due: none

fix: providers ID should be lowercase
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: database healthch command
  docker-compose.yml
Due: none

ci: fix ci
  .github/workflows/ci-docker.yml
  backend/.env
  docker-compose-cicd.yml
Due: none

fix: remove uneeded migration causing validation error
  .github/workflows/ci-docker.yml
Due: none

fix: make scope required, add tests and improve missing oauth env error
  backend/mariner/core/config.py
  backend/pytest.ini
  backend/tests/mariner/core/test_config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: remove footer as metadata route is in progress
  webapp/src/components/templates/AppLayout/index.tsx
Due: check-staged-webapp-style

fix: make environment automated test execute first
  backend/poetry.lock
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/mariner/core/test_config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ci: fix ci workflow file error
  .github/workflows/ci.yml
Due: none

fix: missing merge conflict resolving
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: removed unused classes, fixing tests failures
  backend/fleet/file_utils.py
  backend/fleet/model_builder/dataset.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/preprocessing.py
  backend/fleet/ray_actors/model_check_actor.py
  backend/fleet/torch_/models.py
  backend/fleet/utils/data.py
  backend/fleet/utils/dataset.py
  backend/mariner/core/aws.py
  backend/mariner/core/config.py
  backend/mariner/datasets.py
  backend/mariner/utils.py
  backend/pytest.ini
  backend/tests/conftest.py
  backend/tests/data/csv/zinc_extra.csv
  backend/tests/fixtures/dataset.py
  webapp/cypress/e2e/models/model-creation.cy.ts
  webapp/src/components/organisms/InferenceOutput.tsx
  webapp/src/components/templates/ModelEditorV2/index.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/features/datasets/datasetSlice.ts
  webapp/src/features/deployments/deploymentsSlice.ts
  webapp/src/features/models/components/ModelExperimentForm/index.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
  webapp/src/features/trainings/components/AdvancedOptionsForm.tsx
  webapp/src/model-compiler/src/implementation/modelSchemaQuery.spec.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix typescript error
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

fix: app laytout squished
  webapp/src/components/templates/AppLayout/index.tsx
Due: check-staged-webapp-style

Fix/UI (#136)
  webapp/src/components/templates/AppLayout/index.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

ci: fix missing environment variable [no ci]
  .github/workflows/ci.yml
  backend/.env
Due: none

feat: New validation and suggestion for sequential linear nodes + new edge colors based on validation alert severity.
  webapp/src/components/templates/ModelEditorV2/edges/ModelEdge.tsx
  webapp/src/hooks/useModelEditor/index.tsx
  webapp/src/hooks/useModelEditor/types.ts
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.test.ts
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.ts
  webapp/src/model-compiler/src/implementation/commands/AddComponentCommand.ts
  webapp/src/model-compiler/src/implementation/commands/ApplySuggestionsCommand.ts
  webapp/src/model-compiler/src/implementation/commands/EditComponentsCommand.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.test.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearLinearWarningVisitor.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
  webapp/tests/fixtures/model-schemas.ts
Due: check-staged-webapp-style

fix: yaml schema files for model creation E2E test + E2E model schema imports now pointing to the backend directory
  backend/tests/data/yaml/small_regressor_schema.yaml
  webapp/cypress.config.js
  webapp/cypress/e2e/complete-test.cy.ts
  webapp/cypress/e2e/models/model-creation.cy.ts
  webapp/cypress/fixtures/data/json/small_regressor_schema2.json
  webapp/cypress/fixtures/data/yaml/binary_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/categorical_features_model.yaml
  webapp/cypress/fixtures/data/yaml/dna_example.yml
  webapp/cypress/fixtures/data/yaml/model_fails_on_training.yml
  webapp/cypress/fixtures/data/yaml/multiclass_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/multitarget_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/small_classifier_schema.yaml
  webapp/cypress/fixtures/data/yaml/small_regressor_schema.yaml
  webapp/cypress/fixtures/models/schemas/small_classifier_schema.yaml
  webapp/cypress/fixtures/models/schemas/small_regressor_schema.yaml
  webapp/cypress/support/models/common.ts
  webapp/cypress/vite.config.ts
Due: check-staged-webapp-style

feat: E2E tests for "linear-linear" suggestion fix on the model creation page
  backend/tests/data/yaml/linear_linear_validation_schema.yaml
  webapp/cypress/e2e/models/model-creation.cy.ts
  webapp/cypress/e2e/models/suggestions/model-suggestions.cy.ts
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/models/index.ts
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
Due: check-staged-webapp-style

ui: updte storybook and update preprocessing pipeline ui
  Makefile
  webapp/.storybook/main.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/app/types/domain/datasets.ts
  webapp/src/components/atoms/DataTypeChip.tsx
  webapp/src/components/atoms/NoData.tsx
  webapp/src/components/molecules/CustomAccordion.tsx
  webapp/src/features/models/components/AddTransformerModal.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnConfigAccordion.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnPreprocessingPipelineForm.tsx
  webapp/src/features/models/components/ColumnConfigurationView/index.tsx
  webapp/src/features/models/components/ColumnConfigurationView/types.ts
  webapp/src/features/models/components/ColumnConfigurationView/utils.ts
  webapp/src/features/models/components/TransformConstructorForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.stories.tsx
  webapp/src/features/models/pages/ModelCreateV2/FeatureAndTargets.tsx
  webapp/src/features/models/pages/ModelCreateV2/ModelSetup.tsx
  webapp/src/hooks/useModelEditor/utils.ts
  webapp/src/utils/index.tsx
Due: check-staged-webapp-style

feat: E2E test to validate target columns selected on feature columns select input (model creation page)
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
Due: check-staged-webapp-style

feat: Implement new validations to avoid target columns being applied on feature columns select input (model creation page)
  webapp/cypress/support/models/build-model.ts
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigForm.tsx
Due: check-staged-webapp-style

webapp: run api code generation
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
Due: check-staged-webapp-style

refactor: simplifying preprocessing pipeline form inputs
  backend/api/main.py
  backend/fleet/scikit_/schemas.py
  backend/mariner/core/config.py
  webapp/.env
  webapp/openapi-config.ts
  webapp/src/app/rtk/auth.ts
  webapp/src/app/rtk/experiments.ts
  webapp/src/app/rtk/generated/auth.ts
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
  webapp/src/app/rtk/models.ts
  webapp/src/app/rtk/users.ts
  webapp/src/components/atoms/ModelsSelect/index.tsx
  webapp/src/components/atoms/Select/index.tsx
  webapp/src/components/molecules/CenteredSelect.tsx
  webapp/src/components/molecules/CustomAccordion.tsx
  webapp/src/components/organisms/MDTextField.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.stories.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/types.ts
  webapp/src/components/organisms/TopBar.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.stories.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnPreprocessingPipelineForm.tsx
  webapp/src/features/models/components/ColumnConfigurationView/index.tsx
  webapp/src/features/models/components/ModelMetricsView.tsx
  webapp/src/features/models/components/TransformConstructorForm.stories.tsx
  webapp/src/features/models/components/TransformConstructorForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.stories.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/hooks/useModelOptions.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

add simple version of DataConfigInput [no ci]
  webapp/package.json
  webapp/src/components/molecules/CenteredSelect.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.stories.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/types.ts
  webapp/src/components/organisms/TopBar.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnPreprocessingPipelineForm.tsx
  webapp/src/features/models/components/TransformConstructorForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.stories.tsx
  webapp/src/hooks/useModelOptions.ts
Due: check-staged-webapp-style

add simple version of DataConfigInput
  webapp/.env
  webapp/src/components/atoms/Select/index.tsx
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/types.ts
  webapp/src/features/models/components/ColumnConfigurationView/ColumnPreprocessingPipelineForm.tsx
  webapp/src/hooks/useModelOptions.ts
Due: check-staged-webapp-style

fix eslint errors
  webapp/src/components/molecules/Text.tsx
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.stories.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.stories.tsx
  webapp/src/global.d.ts
Due: check-staged-webapp-style

chore: clear .env.secret
  backend/.env.secret
Due: none

remove .gitignored files
  backend/.env.secret
  docker-compose.override.yml
  webapp/cypress/fixtures/data/csv/HIV.csv
  webapp/cypress/fixtures/data/csv/Lipophilicity.csv
  webapp/cypress/fixtures/data/csv/bad_dataset.csv
  webapp/cypress/fixtures/data/csv/bio_rna_dna_protein.csv
  webapp/cypress/fixtures/data/csv/chimpanzee.csv
  webapp/cypress/fixtures/data/csv/iris.csv
  webapp/cypress/fixtures/data/csv/model.pt
  webapp/cypress/fixtures/data/csv/sarkisyan_full_seq_data.csv
  webapp/cypress/fixtures/data/csv/zinc.csv
  webapp/cypress/fixtures/data/csv/zinc_extra.csv
  webapp/cypress/fixtures/data/json/small_regressor_schema2.json
  webapp/cypress/fixtures/data/torch_target_model.py
  webapp/cypress/fixtures/data/yaml/binary_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/categorical_features_model.yaml
  webapp/cypress/fixtures/data/yaml/dna_example.yml
  webapp/cypress/fixtures/data/yaml/model_fails_on_training.yml
  webapp/cypress/fixtures/data/yaml/multiclass_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/multitarget_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/small_classifier_schema.yaml
  webapp/cypress/fixtures/data/yaml/small_regressor_schema.yaml
Due: none
