Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: check-staged-backend-style
        name: Checking staged backend code style
        entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: 'backend.*(fleet|mariner|api|tests).*\.py'
        stages:
          - commit
      - id: check-staged-webapp-style
        name: Checking staged webapp code style
        entry: bash -c 'cd webapp && npm run prettier:check'
        fail_fast: true
        files: 'webapp.*\.(ts|tsc)'
        pass_filenames: false
        language: system
        stages:
          - commit
      - id: lint-staged-backend
        name: Linting staged code in backend
        entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
        language: system
        types: [python]
        files: '^backend/'
        pass_filenames: true
        fail_fast: true
        stages:
          - commit
      - id: lint-staged-webapp
        name: Linting staged code in webapp
        entry: bash -c "cd webapp && npm run eslint:check"
        language: system
        types: [ts, tsx]
        files: ^webapp/
        fail_fast: true
        stages:
          - commit
      - id: test-backend-unit
        name: Running backend unit tests
        entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
        language: system
        files: '^backend/'
        types: [ python ]
        stages:
          - commit
      - id: test-webapp
        name: Running front end  unit tests
        entry: bash -c "cd webapp && npm run test:unit"
        language: system
        pass_filenames: false
        fail_fast: true
        files: '^webapp/'
        types: [ ts, tsx ]
        stages:
          - commit
      # Manual hooks
      - id: format-staged-fix-backend
        verbose: true
        name: Format staged files in the backend
        entry: bash -c 'cd backend && poetry run sh scripts/format-single.sh ${@#"backend/"}' --
        pass_filenames: true
        files: '^backend/'
        types: [python]
        language: system
        stages:
          - manual
      - id: format-staged-fix-webapp
        name: Formats staged files in the webapp
        entry: bash -c  "cd webapp && npm run prettier:fix && npm run eslint:fix"
        language: system
        stages:
          - manual

chore: Prettier adjustments.
  webapp/src/components/atoms/CustomInputField/index.tsx
  webapp/src/components/atoms/VirtualizedAutocomplete/index.tsx
  webapp/src/components/molecules/UnitsAutocomplete/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
Due: check-staged-webapp-style

fix: Model editor node header not showing on full screen mode.
  webapp/src/components/organisms/FullScreenWrapper/index.tsx
  webapp/src/components/templates/TorchModelEditor/Components/TorchModelEditorControls/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/NodeHeader.tsx
Due: check-staged-webapp-style

test: Moved dataset-config-form E2E test to the component tests
  webapp/cypress/component/ModelSetup.cy.tsx
  webapp/src/mock/msw/endpoints/datasets/data.ts
  webapp/src/mock/msw/endpoints/datasets/handlers.ts
  webapp/src/mock/msw/server.ts
Due: check-staged-webapp-style

fix: Table filter menu link operator not displaying when there is only one option + fixed model creation E2E test error when dealing with the editor "open all components" button.
  webapp/cypress/support/models/build-model.ts
  webapp/src/components/organisms/Table/OperatorsFilterMenu.tsx
Due: check-staged-webapp-style

feat: Implemented circular progress component on the experiments table status column when training progress status is not running yet.
  webapp/src/features/models/components/ModelExperiments.tsx
Due: check-staged-webapp-style

chore: improve logs
  .gitignore
  backend/api/fastapi_app.py
  backend/api/main.py
  backend/fleet/options.py
  backend/log_config.json
  backend/mariner/__init__.py
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

update frontend [no ci]
  backend/api/main.py
  backend/log_config.json
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

test: Refactored model-form E2E test to a component test.
  webapp/cypress/component/ModelForm.cy.tsx
  webapp/cypress/component/ModelSetup.cy.tsx
  webapp/cypress/e2e/models/model-form.cy.ts
  webapp/cypress/support/component.ts
  webapp/cypress/support/models/common.ts
  webapp/src/mock/msw/endpoints/models/data.ts
  webapp/src/mock/msw/endpoints/models/handlers.ts
Due: check-staged-webapp-style

test: Implemented login session cache along through the E2E tests. + removed unecessary login routines + renamed cypress login method.
  webapp/cypress.config.js
  webapp/cypress/component/Table.cy.tsx
  webapp/cypress/e2e/complete-test.cy.ts
  webapp/cypress/e2e/datasets/dataset-creation.cy.ts
  webapp/cypress/e2e/datasets/dataset-update.cy.ts
  webapp/cypress/e2e/datasets/datasets-creation-form.cy.ts
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/e2e/deployments/deployment-workflow.cy.ts
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/cypress/e2e/models/model-creation.cy.ts
  webapp/cypress/e2e/models/model-form.cy.ts
  webapp/cypress/e2e/models/model-inference.cy.ts
  webapp/cypress/e2e/models/model-training.cy.ts
  webapp/cypress/e2e/models/suggestions/model-suggestions.cy.ts
  webapp/cypress/support/commands.ts
Due: check-staged-webapp-style

chore: Update Vite dependencies.
  webapp/package-lock.json
  webapp/package.json
Due: none

fix: Model form Resize Observer error + removed unused Vite config file + refactored cypress training completed check routine.
  webapp/cypress.config.js
  webapp/cypress/e2e/models/model-form.cy.ts
  webapp/cypress/support/commands.ts
  webapp/cypress/support/training/create.ts
  webapp/cypress/vite.config.ts
  webapp/package.json
  webapp/vite.config.js
Due: check-staged-webapp-style

chore: Removed env variables declarations.
  backend/.env
  backend/.env.secret
Due: none

test: Improved Table component test to be more failure resilient
  webapp/cypress/component/Table.cy.tsx
Due: check-staged-webapp-style

fix: websocket disconnecting
  webapp/src/app/websocket/context.tsx
Due: check-staged-webapp-style

remove console
  webapp/src/app/websocket/context.tsx
Due: check-staged-webapp-style

update .gitignore
  .gitignore
Due: none

fup
  .gitignore
Due: none

chore: add makefile command to start monitoring services
  Makefile
Due: none

chore: add file based service discovery strategy in prometheus config file
  prometheus/prometheus.yaml
Due: none

chore: adjust grafana folder to correctly correspond to /etc/grafana and add resources exporter from ray (ray-configs voume)
  grafana/dashboards/default_grafana_dashboard.json
  grafana/dashboards/serve_deployment_grafana_dashboard.json
  grafana/dashboards/serve_grafana_dashboard.json
  grafana/provisioning/dashboards/default.yml
  grafana/provisioning/datasources/ds-prometheus.yaml
Due: none

chore: move volumes to override so it's optional. add ray-configs volume from ray metrics folder
  docker-compose.override.yml
  docker-compose.yml
Due: none

fix PR template
  .github/pull_request_template.md
Due: none

Update README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

fix: save traning request config and fix lr
  backend/fleet/model_builder/optimizers.py
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: metric_mode defaulting to min
  backend/fleet/torch_/schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: error in create experiment request
  backend/mariner/schemas/experiment_schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: missing hyperparams
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: progress bar when progress = 0 and missing validation loss
  webapp/src/app/websocket/context.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/modelSlice.ts
Due: check-staged-webapp-style

test: Refactored dataset-creation-form E2E test to a component test.
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/component/DatasetCreate.cy.tsx
  webapp/cypress/component/ModelForm.cy.tsx
  webapp/cypress/component/Table.cy.tsx
  webapp/cypress/e2e/datasets/datasets-creation-form.cy.ts
  webapp/cypress/support/DefaultProviders.tsx
  webapp/cypress/support/component.ts
  webapp/src/mock/msw/endpoints/datasets/data.ts
  webapp/src/mock/msw/endpoints/datasets/handlers.ts
Due: check-staged-webapp-style

stop running CI on push
  .github/workflows/ci-cypress.yml
Due: none

chore: change log format from endpoints [no ci]
  backend/log_config.json
Due: none

Release v0.1.10
  backend/pyproject.toml
Due: none

test: Prevent video generation & compress for successfull runned tests + viewport adjusment for component tests + changed Cy config file to TS
  docker-compose.yml
  webapp/cypress.config.js
  webapp/cypress.config.ts
Due: check-staged-webapp-style

test: Fixed model-suggestions E2E test + configured Cypress E2E to use Chrome.
  webapp/cypress/e2e/models/suggestions/model-suggestions.cy.ts
  webapp/package.json
Due: check-staged-webapp-style

fix: Deployment form modal not updating model version.
  backend/mariner/schemas/deployment_schemas.py
  webapp/src/features/deployments/types.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: init ray with allow_multiple to avoid error when ray connection is reattempted
  backend/api/main.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Release v0.1.11
  backend/pyproject.toml
Due: none

rollback ray init with allow_multiple
  backend/api/main.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Model editor page reloading when removing edge in specific condition.
  webapp/src/model-compiler/src/implementation/commands/EditComponentsCommand.ts
Due: check-staged-webapp-style
