Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

check-staged-backend-style:
  name: Checking staged backend code style
  entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

check-staged-webapp-style:
  name: Checking staged webapp code style
  entry: bash -c 'cd webapp && npm run prettier:check'
  fail_fast: true
  pass_filenames: false
  language: system
  stages:
  - commit

lint-staged-backend:
  name: Linting staged code in backend
  entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

lint-staged-webapp:
  name: Linting staged code in webapp
  entry: bash -c "cd webapp && npm run eslint:check"
  language: system
  fail_fast: true
  stages:
  - commit

test-backend-unit:
  name: Running backend unit tests
  entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
  language: system
  stages:
  - commit

test-webapp:
  name: Running front end  unit tests
  entry: bash -c "cd webapp && npm run test:unit"
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - commit

fix: log stack trace of dataset processing exception
  backend/mariner/datasets.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

tests: control load testing timeout with env var
  backend/cli/load_testing/commands/simultaneous_trainings.py
Due: lint-staged-backend, test-backend-unit

fix: assertions in deployment actors
  backend/fleet/ray_actors/deployments_manager.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

control all timeouts in load testing
  backend/cli/load_testing/commands/simultaneous_trainings.py
Due: lint-staged-backend, test-backend-unit

fix: bad usages of LOG.error
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/fleet/model_functions.py
  backend/fleet/train/custom_logger.py
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

tests: fix test fleet linting errors
  backend/tests/fleet/test_fleet.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: error in code generation with default argument is string
  .pre-commit-config.yaml
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/generate.py
  backend/fleet/model_functions.py
  backend/fleet/scikit_/schemas.py
  backend/scripts/lint-single.sh
  backend/tests/data/yaml/sklearn_sampl_knearest_neighbor_regressor.yaml
  backend/tests/fleet/helpers.py
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/test_fleet_dataset_schema.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: remove unused file [no ci]
  backend/tests/fleet/fixtures.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

style: run backend code formatter
  backend/api/api_v1/endpoints/experiments.py
  backend/api/api_v1/endpoints/oauth.py
  backend/api/deps.py
  backend/cli/load_testing/commands/dataset_creation.py
  backend/cli/load_testing/commands/model_capacity.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/cli/load_testing/group.py
  backend/fleet/file_utils.py
  backend/fleet/mlflow.py
  backend/fleet/model_builder/dataset.py
  backend/fleet/model_builder/layers_schema.py
  backend/mariner/core/aws.py
  backend/mariner/entities/deployment.py
  backend/mariner/models.py
  backend/mariner/oauth.py
  backend/mariner/users.py
  backend/mariner/utils.py
  backend/oauth_providers/genentech.py
  backend/oauth_providers/github.py
  backend/oauth_providers/main.py
  backend/tests/fixtures/experiments.py
  backend/tests/fleet/helpers.py
  backend/tests/fleet/ray_actors/test_dataset_transforms.py
  backend/tests/mariner/core/test_config.py
  backend/tests/mariner/stores/test_experiments_crud.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: pylint errors [no ci]
  backend/mariner/entities/deployment.py
  backend/mariner/utils.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: support of dataset config with preprocessing pipeline at each column
  backend/fleet/dataset_schemas.py
  backend/fleet/preprocessing.py
  backend/tests/fleet/test_fleet_dataset_schema.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: remove print [no ci]
  backend/fleet/options.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: remove print [no ci]
  backend/scripts/lint-single.sh
Due: none

refactor: extract get_columns_metadata method from dataset transforms actor
  backend/api/api_v1/endpoints/experiments.py
  backend/fleet/ray_actors/dataset_transforms.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: remove unused settings class
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: remove min_samples_split from possible constructor args
  backend/fleet/scikit_/schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: support sklearn models in training endpoint
  backend/mariner/experiments.py
  backend/mariner/models.py
  backend/mariner/schemas/dataset_schemas.py
  backend/mariner/schemas/experiment_schemas.py
  backend/tests/api/api_v1/conftest.py
  backend/tests/api/api_v1/test_experiments.py
  backend/tests/conftest.py
  backend/tests/data/yaml/sklearn_sampl_knearest_neighbor_regressor.yaml
  backend/tests/fixtures/dataset.py
  backend/tests/fixtures/experiments.py
  backend/tests/fixtures/model.py
  backend/tests/fleet/helpers.py
  backend/tests/fleet/test_fleet_dataset_schema.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

style: run code formatting tool
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/fleet/model_builder/dataset.py
  backend/fleet/model_builder/generate.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/ray_actors/dataset_transforms.py
  backend/fleet/torch_/models.py
  backend/mariner/oauth.py
  backend/tests/fleet/utils/test_data.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: sklearn training config with nested pipeilnes
  backend/fleet/dataset_schemas.py
  backend/fleet/scikit_/schemas.py
  backend/tests/api/api_v1/test_experiments.py
  backend/tests/data/yaml/binary_classification_model.yaml
  backend/tests/data/yaml/categorical_features_model.yaml
  backend/tests/data/yaml/dna_example.yml
  backend/tests/data/yaml/lipo_regressor.yaml
  backend/tests/data/yaml/model_fails_on_training.yml
  backend/tests/data/yaml/multiclass_classification_model.yaml
  backend/tests/data/yaml/multitarget_classification_model.yaml
  backend/tests/data/yaml/sklearn_hiv_extra_trees_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_knearest_neighbor_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_random_forest_classifier.yaml
  backend/tests/data/yaml/sklearn_sampl_extra_trees_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_knearest_neighbor_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_knn_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_random_forest_regressor.yaml
  backend/tests/data/yaml/small_classifier_schema.yaml
  backend/tests/data/yaml/small_regressor_schema.yaml
  docker-compose.yml
  webapp/.env
  webapp/cypress.config.js
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

style: run code formatting tool
  backend/api/api_v1/endpoints/experiments.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/fleet/dataset_schemas.py
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: "experiments/{id}" endpoint overwriting previous endpoints used for metrics and optimizers.
  backend/api/api_v1/endpoints/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Deployment creation request failure caused by a invalid payload format.
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/features/deployments/Components/DeploymentForm.tsx
  webapp/src/features/deployments/deploymentsApi.ts
Due: check-staged-webapp-style

fix: Disabled target column input on the training creation form when the model version field is empty. (prevents empty select dropdown)
  webapp/src/features/trainings/components/MetricSelect.tsx
Due: check-staged-webapp-style

feat: Implemented form flexbility to deal with different frameword formats + removed unsed components and functions + small stylish improvements.
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnPreprocessingPipelineForm.tsx
  webapp/src/features/models/components/ColumnConfigurationView/index.tsx
  webapp/src/features/models/components/ColumnConfigurationView/types.ts
  webapp/src/features/models/components/ColumnConfigurationView/utils.ts
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/model-compiler/src/interfaces/model-editor.ts
Due: check-staged-webapp-style

feat: Implemented integration of Model Create component with Sklearn model builder + fixed column featurizer validations + fixed model builder validation issues.
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/formSchema.ts
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/FeatureAndTargets.tsx
  webapp/src/features/models/pages/ModelCreateV2/ModelConfigForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/ModelSetup.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/model-compiler/src/implementation/modelSchemaQuery.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
Due: check-staged-webapp-style

feat: Implement visitor to suggest fix for linear layer followed by linear layer (#137)
  backend/tests/data/yaml/linear_linear_validation_schema.yaml
  backend/tests/data/yaml/small_regressor_schema.yaml
  webapp/cypress.config.js
  webapp/cypress/e2e/complete-test.cy.ts
  webapp/cypress/e2e/models/model-creation.cy.ts
  webapp/cypress/e2e/models/suggestions/model-suggestions.cy.ts
  webapp/cypress/fixtures/models/schemas/small_classifier_schema.yaml
  webapp/cypress/fixtures/models/schemas/small_regressor_schema.yaml
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/models/common.ts
  webapp/cypress/support/models/index.ts
  webapp/cypress/vite.config.ts
  webapp/src/components/templates/ModelEditorV2/edges/ModelEdge.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/hooks/useModelEditor/index.tsx
  webapp/src/hooks/useModelEditor/types.ts
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.test.ts
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.ts
  webapp/src/model-compiler/src/implementation/commands/AddComponentCommand.ts
  webapp/src/model-compiler/src/implementation/commands/ApplySuggestionsCommand.ts
  webapp/src/model-compiler/src/implementation/commands/EditComponentsCommand.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.test.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.ts
  webapp/src/model-compiler/src/implementation/validation/TransversalInfo.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/GCNValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearLinearWarningVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearValidatorVisitor.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
  webapp/tests/fixtures/model-schemas.ts
Due: check-staged-webapp-style

Update configmaps and disable unused pipelines
  .github/workflows/deploy-all-manual.yml
  .github/workflows/deploy-all.yml
  infrastructure/configmaps/dev/mariner.yaml
  infrastructure/configmaps/dev/mlflow.yaml
  infrastructure/configmaps/dev/ray-head.yaml
  infrastructure/configmaps/dev/ray-worker.yaml
Due: none

Update configmaps and disable unused pipelines
  .github/workflows/webapp-cicd-dev.yml
  .github/workflows/webapp-cicd-prod.yml
  configmaps/dev/mariner.yaml
  configmaps/dev/mlflow.yaml
  configmaps/dev/ray-head.yaml
  configmaps/dev/ray-worker.yaml
Due: none

fix: deployment workflows
  .github/workflows/deploy-all-manual.yml
  .github/workflows/deploy-all.yml
Due: none

Add infisical
  .github/workflows/deploy-all.yml
  infrastructure/helm/helm-mariner/templates/deployment.yaml
  infrastructure/helm/helm-mariner/templates/infisical.yaml
  infrastructure/helm/helm-mariner/values.yaml
  infrastructure/helm/helm-mlflow/templates/deployment.yaml
  infrastructure/helm/helm-mlflow/templates/infisical.yaml
  infrastructure/helm/helm-mlflow/values.yaml
  infrastructure/helm/helm-ray-head/templates/deployment.yaml
  infrastructure/helm/helm-ray-head/templates/infisical.yaml
  infrastructure/helm/helm-ray-head/values.yaml
  infrastructure/helm/helm-ray-worker/templates/deployment.yaml
  infrastructure/helm/helm-ray-worker/templates/infisical.yaml
  infrastructure/helm/helm-ray-worker/values.yaml
Due: none

Enable docker build and remove configmaps
  .github/workflows/deploy-all-manual.yml
  .github/workflows/deploy-all.yml
Due: none

debug ray-worker RAY_ADDRESS
  backend/entrypoints/ray-worker.sh
Due: none

remove RAY_HEAD_* varialbles
  backend/entrypoints/ray-worker.sh
Due: none

fix: Unit tests error caused by "yaml" package module import on Jest.
  webapp/jest.config.js
Due: none

feat: Implement Sklearn model input component on model creation page + fixed bugs on model setup form selected framework input change.
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
  webapp/src/components/organisms/ModelBuilder/formSchema.ts
  webapp/src/components/organisms/ModelBuilder/types.ts
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/hooks/useModelOptions.ts
Due: check-staged-webapp-style

Path conditions:
  check-staged-backend-style: any of: backend.*(fleet|mariner|api|tests).*\.py and \.py$
  check-staged-webapp-style: any of: webapp.*\.(ts|tsc)
  lint-staged-backend: any of: ^backend/ and \.py$
  lint-staged-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
  test-backend-unit: any of: ^backend/ and \.py$
  test-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
