Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: check-staged-backend-style
        name: Checking staged backend code style
        entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: 'backend.*(fleet|mariner|api|tests).*\.py'
        stages:
          - commit
      - id: check-staged-webapp-style
        name: Checking staged webapp code style
        entry: bash -c 'cd webapp && npm run prettier:check'
        fail_fast: true
        files: 'webapp.*\.(ts|tsc)'
        pass_filenames: false
        language: system
        stages:
          - commit
      - id: lint-staged-backend
        name: Linting staged code in backend
        entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
        language: system
        types: [python]
        files: '^backend/'
        pass_filenames: true
        fail_fast: true
        stages:
          - commit
      - id: lint-staged-webapp
        name: Linting staged code in webapp
        entry: bash -c "cd webapp && npm run eslint:check"
        language: system
        types: [ts, tsx]
        files: ^webapp/
        fail_fast: true
        stages:
          - commit
      - id: test-backend-unit
        name: Running backend unit tests
        entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
        language: system
        files: '^backend/'
        types: [ python ]
        stages:
          - commit
      - id: test-webapp
        name: Running front end  unit tests
        entry: bash -c "cd webapp && npm run test:unit"
        language: system
        pass_filenames: false
        fail_fast: true
        files: '^webapp/'
        types: [ ts, tsx ]
        stages:
          - commit
      # Manual hooks
      - id: format-staged-fix-backend
        verbose: true
        name: Format staged files in the backend
        entry: bash -c 'cd backend && poetry run sh scripts/format-single.sh ${@#"backend/"}' --
        pass_filenames: true
        files: '^backend/'
        types: [python]
        language: system
        stages:
          - manual
      - id: format-staged-fix-webapp
        name: Formats staged files in the webapp
        entry: bash -c  "cd webapp && npm run prettier:fix && npm run eslint:fix"
        language: system
        stages:
          - manual

feat: add metrics to model trainings table
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/hooks/useMetricsCols.tsx
Due: check-staged-webapp-style

Release v0.1.24
  backend/pyproject.toml
Due: none

feat: add metrics to model trainings table
  webapp/src/components/molecules/Vega/VerticalHistogram.tsx
Due: check-staged-webapp-style

Release v0.1.25
  backend/pyproject.toml
Due: none

feat: Implemented model templates base structure in the model editor component + new node deletion feature + fixed bugs in the modele editor.
  webapp/src/components/templates/TorchModelEditorV2/ModelTemplates.tsx
  webapp/src/components/templates/TorchModelEditorV2/OptionsSidebarV2.tsx
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/BaseNode/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/InputNode.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/OutputNode.tsx
  webapp/src/features/models/pages/ModelForm/index.tsx
  webapp/src/hooks/useTorchModelEditor/index.tsx
  webapp/src/hooks/useTorchModelEditor/types.ts
Due: check-staged-webapp-style

feat: Implemented ModelTemplateForm component base structure
  webapp/src/features/models/components/ModelTemplateForm.tsx
Due: check-staged-webapp-style

mock: Implemented API mock feature setting for the frontend.
  webapp/.env
  webapp/src/app/rtk/generated/models.ts
  webapp/src/mock/msw/endpoints/models/data.ts
  webapp/src/mock/msw/endpoints/models/handlers.ts
  webapp/src/mock/msw/index.ts
Due: check-staged-webapp-style

fix: Fixed TS errors.
  webapp/src/mock/msw/index.ts
Due: check-staged-webapp-style

docs: update docs with more explanations
  CONTRIBUTING.md
  README.md
  docs/source/configuration.rst
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/mainmodules.rst
  docs/source/mariner.core.config.AuthSettingsDict.rst
  docs/source/mariner.core.config.Package.rst
  docs/source/mariner.core.config.QA_Test_Settings.rst
  docs/source/mariner.core.config.SecretEnv.rst
  docs/source/mariner.core.config.ServerSettings.rst
  docs/source/mariner.core.config.ServicesEnv.rst
  docs/source/mariner.core.config.TenantSettings.rst
  docs/source/mariner.core.config.WebappSettings.rst
  docs/source/mariner.core.config.get_app_settings.rst
Due: none

docs: add docs live server command start on Makefile
  Makefile
Due: none

chore(pyproject.toml): update python version
  backend/pyproject.toml
Due: none

fix: python version
  backend/pyproject.toml
Due: none

docs: update some environment variables names and add oauth details [no ci]
  backend/oauth_providers/main.py
  docs/conf.py
  docs/source/configuration.rst
  docs/source/mainmodules.rst
  docs/source/mariner.core.config.AuthSettings.rst
  docs/source/mariner.core.config.SettingsV2.rst
  docs/source/oauth_providers.genentech.rst
  docs/source/oauth_providers.github.rst
  docs/source/oauth_providers.main.UserData.rst
  docs/source/oauth_providers.main.get_user_data.rst
  docs/source/oauth_providers.main.rst
Due: lint-staged-backend, test-backend-unit

ci: pylint should ignore docs/conf.py and fix python ci
  backend/pylintrc
Due: none

docs: rename user guide to developer guide
  docs/source/developer_guide/index.rst
  docs/source/developer_guide/modelschema.rst
  docs/source/index.rst
Due: none

docs: update docs
  CONTRIBUTING.md
  README.md
  docs/source/configuration.rst
  docs/source/developer_guide/architecture.rst
  docs/source/developer_guide/extending_components.rst
  docs/source/developer_guide/index.rst
  docs/source/developer_guide/modelschema.rst
  docs/source/index.rst
Due: none

docs: improve webapp READMEs
  webapp/README.md
  webapp/src/model-compiler/README.md
Due: none

fix: add command used to start webapp dev server
  webapp/README.md
Due: none

chore: add command to clear doc build and generated files also fix backend dependency installation target
  Makefile
Due: none

Release v0.1.26
  backend/pyproject.toml
Due: none

Create LICENSE
  LICENSE
Due: none
