Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-single

format-check:
  name: Checking staged code style (Possibly fixable with scripts/format.sh)
  entry: cd backend && poetry run sh scripts/check-format.sh
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

lint-single:
  name: Linting staged code with scripts/lint-single.sh
  entry: cd backend && poetry run sh scripts/lint-single.sh
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

Enable sonarqube to store the analisys
  sonar-project.properties
Due: none

feat: last adjustments
  webapp/cypress/e2e/models/model-form.cy.ts
  webapp/cypress/e2e/models/model-inference.cy.ts
Due: none

fix: scaffold split
  backend/mariner/datasets.py
  webapp/src/features/datasets/components/DatasetForm/index.tsx
Due: format-check, lint-single

feat: new ray actor deployments manager
  backend/mariner/entities/deployment.py
  backend/mariner/exceptions/deployment_exceptions.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/tests/mariner/ray_actors/test_deployments_manager.py
Due: format-check, lint-single

remove out dated tests and update torch model checking functions
  backend/fleet/__init__.py
  backend/fleet/base_schemas.py
  backend/fleet/model_builder/model.py
  backend/fleet/model_functions.py
  backend/fleet/torch_/__init__.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/models.py
  backend/fleet/torch_/schemas.py
  backend/mariner/alembic/versions/40fadbde09b7_migrate_torch_model_schema.py
  backend/mariner/experiments.py
  backend/mariner/ray_actors/model_check_actor.py
  backend/mariner/ray_actors/training_actors.py
  backend/mariner/schemas/model_schemas.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/fixtures/model.py
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/test_torch_.py
  backend/tests/mariner/core/test_mlflowapi.py
  backend/tests/mariner/migrations/test_migrations.py
  backend/tests/mariner/ray_actors/test_training_actors.py
Due: format-check, lint-single

update webapp tests
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/models/common.ts
  webapp/src/hooks/useModelEditor/index.tsx
  webapp/src/model-compiler/src/implementation/modelSchemaQuery.ts
  webapp/src/model-compiler/src/utils.ts
Due: none

fix webapp unit tests
  webapp/cypress/support/models/common.ts
  webapp/jest.config.js
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.test.ts
  webapp/src/model-compiler/src/implementation/commands/AddComponentCommand.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.test.ts
  webapp/tests/fixtures/model-schemas.ts
Due: none

update ray
  backend/poetry.lock
  backend/pyproject.toml
Due: none

fix: ray dashboard
  backend/poetry.lock
  backend/pyproject.toml
Due: none

chore: increase shm_size for ray
  docker-compose.yml
Due: none

fix: webapp compilation error
  webapp/cypress/support/models/common.ts
Due: none

style: prettier webapp
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.test.ts
Due: none

fix: torch model passing wrong args to layer
  backend/fleet/torch_/models.py
  backend/tests/api/api_v1/test_models.py
Due: format-check, lint-single

style: run python code formatter
  backend/api/api_v1/api.py
  backend/api/api_v1/endpoints/deployments.py
  backend/api/api_v1/endpoints/experiments.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/layers/one_hot.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/torch_/schemas.py
  backend/mariner/alembic/versions/72a6c72e32b9_make_experiment_mlflow_id_nullable.py
  backend/mariner/alembic/versions/809377f238f8_add_deployment_tables.py
  backend/mariner/entities/__init__.py
  backend/mariner/entities/deployment.py
  backend/mariner/ray_actors/model_check_actor.py
  backend/mariner/schemas/deployment_schemas.py
  backend/mariner/schemas/experiment_schemas.py
  backend/mariner/stores/deployment_sql.py
  backend/tests/api/api_v1/test_notifications.py
  backend/tests/conftest.py
  backend/tests/fixtures/deployments.py
Due: format-check, lint-single

remove print
  backend/fleet/torch_/models.py
Due: none

feat: deployment manager tests passing
  backend/mariner/alembic/versions/809377f238f8_add_deployment_tables.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/tests/conftest.py
  backend/tests/mariner/ray_actors/test_deployments_manager.py
Due: format-check, lint-single

feat: lint files
  backend/mariner/db/init_db.py
  backend/mariner/entities/__init__.py
  backend/mariner/schemas/deployment_schemas.py
  backend/mariner/stores/deployment_sql.py
  backend/tests/fixtures/deployments.py
Due: format-check, lint-single

fix: errors during test
  backend/fleet/__init__.py
  backend/tests/conftest.py
Due: format-check

fix: ray dashboard connection issue
  docker-compose.yml
Due: none

feat: implement deployment manager in api
  backend/api/api_v1/endpoints/deployments.py
  backend/mariner/deployment.py
Due: format-check, lint-single

docs: add forward method docstring from tarcision
  backend/fleet/torch_/models.py
Due: none

fix: dataset get s3 uri returning wrong uri
  backend/mariner/entities/dataset.py
Due: format-check, lint-single

fix: incomplete usage of fit function by training actor
  backend/mariner/experiments.py
  backend/mariner/ray_actors/training_actors.py
Due: format-check, lint-single

fix: dataset download and debugging log removals
  backend/fleet/model_functions.py
  backend/mariner/core/aws.py
Due: format-check, lint-single

fix: remove unwanted dependencies
  backend/mariner/entities/dataset.py
  backend/mariner/experiments.py
Due: format-check, lint-single

fix: mark ray dependent tests as integration
  backend/tests/api/api_v1/test_models.py
Due: format-check, lint-single

fix: migration of model schemas
  backend/mariner/alembic/env.py
  backend/mariner/alembic/versions/40fadbde09b7_migrate_torch_model_schema.py
  backend/poetry.lock
Due: format-check, lint-single

fix: dataset_uri for model training
  backend/mariner/experiments.py
Due: format-check, lint-single

fix: frontend start deployment button
  webapp/src/features/deployments/Components/TableActions.tsx
Due: none

feat: deployment prediction feature with tests
  backend/api/api_v1/endpoints/deployments.py
  backend/mariner/alembic/versions/47387c0a4e2d_predictions_table.py
  backend/mariner/core/security.py
  backend/mariner/deployment.py
  backend/mariner/entities/deployment.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/mariner/schemas/deployment_schemas.py
  backend/mariner/stores/deployment_sql.py
  backend/tests/api/api_v1/test_deployment.py
  backend/tests/mariner/ray_actors/test_deployments_manager.py
Due: format-check, lint-single

docs: add docstrings to fleet classes and modules
  backend/fleet/__init__.py
  backend/fleet/base_schemas.py
  backend/fleet/data_types.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/__init__.py
  backend/fleet/model_builder/component_overrides.yml
  backend/fleet/model_functions.py
  backend/fleet/torch_/__init__.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/models.py
  backend/fleet/torch_/schemas.py
  backend/fleet/yaml_model.py
  backend/mariner/alembic/env.py
Due: format-check, lint-single

fix: prediction test
  backend/api/api_v1/endpoints/deployments.py
  backend/mariner/deployment.py
  backend/mariner/entities/deployment.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/mariner/stores/deployment_sql.py
  backend/tests/api/api_v1/test_deployment.py
  backend/tests/mariner/ray_actors/test_deployments_manager.py
Due: format-check, lint-single

feat: mark deployment prediction test as long
  backend/tests/api/api_v1/test_deployment.py
Due: format-check, lint-single

feat: mark integration tests with pytest.mark.integration
  backend/tests/api/api_v1/test_deployment.py
Due: format-check, lint-single

feat: improve code documentation
  backend/mariner/deployment.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/mariner/stores/deployment_sql.py
Due: format-check, lint-single

feat: improve code documentation
  backend/api/api_v1/endpoints/deployments.py
Due: format-check, lint-single

fix: import error and pylint warnings
  backend/api/api_v1/endpoints/model.py
  backend/fleet/__init__.py
  backend/fleet/base_schemas.py
  backend/fleet/data_types.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/component_builder.py
  backend/fleet/model_builder/dataset.py
  backend/fleet/model_builder/featurizers/integer_featurizer.py
  backend/fleet/model_builder/generate.py
  backend/fleet/model_builder/model_schema_query.py
  backend/fleet/model_builder/options.py
  backend/fleet/model_builder/schemas.py
  backend/fleet/model_builder/splitters.py
  backend/fleet/model_builder/storage.py
  backend/fleet/model_builder/utils.py
  backend/fleet/model_functions.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/models.py
  backend/fleet/yaml_model.py
  backend/mariner/alembic/versions/72a6c72e32b9_make_experiment_mlflow_id_nullable.py
  backend/mariner/models.py
  backend/mariner/schemas/model_schemas.py
  backend/pylintrc
  backend/tests/api/api_v1/test_models.py
  backend/tests/fleet/test_fleet.py
  backend/tests/model_builder/test_model_builder_utils.py
Due: format-check, lint-single

docs: [wip] add notebook with torch model example
  backend/Torch-Model-Test.ipynb
Due: none

Path conditions:
  format-check: any of: (mariner|model_builder|api|tests).*\.py and \.py$
  lint-single: any of: (mariner|model_builder|api).*\.py and \.py$
