Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: check-staged-backend-style
        name: Checking staged backend code style
        entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: 'backend.*(fleet|mariner|api|tests).*\.py'
        stages:
          - commit
      - id: check-staged-webapp-style
        name: Checking staged webapp code style
        entry: bash -c 'cd webapp && npm run prettier:check'
        fail_fast: true
        files: 'webapp.*\.(ts|tsc)'
        pass_filenames: false
        language: system
        stages:
          - commit
      - id: lint-staged-backend
        name: Linting staged code in backend
        entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
        language: system
        types: [python]
        files: '^backend/'
        pass_filenames: true
        fail_fast: true
        stages:
          - commit
      - id: lint-staged-webapp
        name: Linting staged code in webapp
        entry: bash -c "cd webapp && npm run eslint:check"
        language: system
        types: [ts, tsx]
        files: ^webapp/
        fail_fast: true
        stages:
          - commit
      - id: test-backend-unit
        name: Running backend unit tests
        entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
        language: system
        files: '^backend/'
        types: [ python ]
        stages:
          - commit
      - id: test-webapp
        name: Running front end  unit tests
        entry: bash -c "cd webapp && npm run test:unit"
        language: system
        pass_filenames: false
        fail_fast: true
        files: '^webapp/'
        types: [ ts, tsx ]
        stages:
          - commit
      # Manual hooks
      - id: format-staged-fix-backend
        verbose: true
        name: Format staged files in the backend
        entry: bash -c 'cd backend && poetry run sh scripts/format-single.sh ${@#"backend/"}' --
        pass_filenames: true
        files: '^backend/'
        types: [python]
        language: system
        stages:
          - manual
      - id: format-staged-fix-webapp
        name: Formats staged files in the webapp
        entry: bash -c  "cd webapp && npm run prettier:fix && npm run eslint:fix"
        language: system
        stages:
          - manual

test: Deployments E2E fix prototype pt.49
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.50
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.51
  .github/workflows/ci-cypress.yml
  webapp/package.json
Due: none

test: Deployments E2E fix prototype pt.52
  .github/workflows/ci-cypress.yml
  webapp/package.json
Due: none

test: Deployments E2E fix prototype pt.53
  .github/workflows/ci-cypress.yml
  Makefile
  webapp/.env.ci
Due: none

test: Deployments E2E fix prototype pt.54
  .github/workflows/ci-cypress.yml
Due: none

test: Deployments E2E fix prototype pt.54
  .github/workflows/ci-cypress.yml
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
Due: check-staged-webapp-style

docs: separate README into README, CONTRIBUTING
  CONTRIBUTING.md
  Makefile
  README.md
  backend/poetry.lock
  backend/pyproject.toml
  docs/conf.py
  docs/source/configuration.rst
  docs/source/contributing.rst
  docs/source/getting_started.rst
  docs/source/index.rst
Due: none

test: Deployments E2E fix prototype pt.55
  .github/workflows/ci-cypress.yml
  webapp/cypress.config.js
  webapp/cypress/support/commands.ts
  webapp/cypress/support/custom-dragdrop.ts
  webapp/cypress/support/models/common.ts
Due: check-staged-webapp-style

chore: change backend image name on docker-compose.yml
  docker-compose.yml
Due: none

chore: modifications for easier launching jupyter notebook from backend container
  Makefile
  backend/.env
  backend/api/deps.py
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

docs: add DataSummary component on storybook
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.stories.tsx
  webapp/tests/fixtures/datasets.ts
Due: check-staged-webapp-style

fix: allow to display multiple inference lines in DataSummary component
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.stories.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.tsx
Due: check-staged-webapp-style

Release v0.1.5
  backend/pyproject.toml
  generated.txt
Due: none

fix: update data summaries with new interface
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
Due: check-staged-webapp-style

Release v0.1.6
  backend/pyproject.toml
  generated.txt
Due: none

fix: send stage SUCCESS when modelversion is ready
  backend/api/api_v1/endpoints/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

test: Deployments E2E fix prototype pt.56
  .github/workflows/ci-cypress.yml
  webapp/cypress.config.js
  webapp/cypress/component/Table.cy.tsx
Due: check-staged-webapp-style

fix: Backend logs collect to map image by its new name
  .github/workflows/ci-cypress.yml
Due: none

debug: Applying logs
  backend/api/websocket.py
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: Removed cypress test filters.
  .github/workflows/ci-cypress.yml
Due: none

ci: update backend ci
  .github/workflows/ci.yml
  .github/workflows/deploy-all.yml
Due: none

fup
  .github/workflows/matchers/pylint.json
Due: none

fix: remove dataset name uniqueness within the same user
  backend/api/api_v1/endpoints/model.py
  backend/mariner/alembic/versions/25191563d370_remove_uniqueness_of_dataset_name.py
  backend/mariner/deployment.py
  backend/mariner/entities/dataset.py
  backend/mariner/experiments.py
  backend/mariner/models.py
  backend/mariner/stores/dataset_sql.py
  backend/mariner/stores/deployment_sql.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/fixtures/dataset.py
  backend/tests/mariner/stores/test_dataset_sql.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix ci backend
  .github/workflows/ci.yml
Due: none

feat: Implemented virtualized autocomplete component to handle large dropdown data + fix unit auto complete input sort + changed dropdown height.
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/atoms/VirtualizedAutocomplete/index.tsx
  webapp/src/components/molecules/UnitsAutocomplete/index.tsx
Due: check-staged-webapp-style

fix: Avoid dataset form reseting field errors on CSV load (dataset-creation-form test).
  webapp/src/features/datasets/components/DatasetForm/index.tsx
Due: check-staged-webapp-style

ci: fix python ci
  .github/workflows/ci.yml
Due: none

ci: fix changed files list
  .github/workflows/ci.yml
Due: none

ci: fix
  .github/workflows/ci.yml
Due: none

chore: adjust .env to run app locally [no ci]
  Makefile
  backend/.env
Due: none

fix: oauth authentication [no ci]
  webapp/src/features/users/Authentication.tsx
Due: check-staged-webapp-style

fix: oauth authentication [no ci] (#161)
  webapp/src/features/users/Authentication.tsx
Due: check-staged-webapp-style

feat: remove need for mode
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/schemas.py
  backend/mariner/alembic/versions/25191563d370_remove_uniqueness_of_dataset_name.py
  backend/mariner/experiments.py
  backend/tests/api/api_v1/test_notifications.py
  backend/tests/conftest.py
  backend/tests/fleet/test_fleet.py
  backend/tests/mariner/test_experiments.py
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.stories.tsx
  webapp/src/features/trainings/components/AdvancedOptionsForm.tsx
  webapp/src/features/trainings/components/CheckpointingForm.tsx
  webapp/src/features/trainings/components/MetricSelect.tsx
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: validation loss columns in experiments/trainings table
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/DataSummary.stories.tsx
  webapp/src/features/trainings/components/CheckpointingForm.tsx
  webapp/src/features/trainings/pages/TrainingListing/columns.tsx
Due: check-staged-webapp-style

chore: Removed unused logs + fixed Cypress service declaration on docker compose file.
  .github/workflows/ci-cypress.yml
  backend/api/websocket.py
  backend/mariner/experiments.py
  docker-compose.yml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: Removed remaining unused code + fixed exception log
  Makefile
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Cypress component tests automated CI (#159)
  .github/workflows/ci-cypress.yml
  .github/workflows/ci-docker.yml
  .github/workflows/ci-e2e.yml
  Makefile
  backend/api/api_v1/endpoints/experiments.py
  backend/mariner/experiments.py
  docker-compose.cicd.yml
  docker-compose.yml
  webapp/.env.ci
  webapp/cypress.config.js
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/component/Table.cy.tsx
  webapp/cypress/e2e/datasets/dataset-creation.cy.ts
  webapp/cypress/e2e/datasets/dataset-update.cy.ts
  webapp/cypress/e2e/datasets/datasets-creation-form.cy.ts
  webapp/cypress/e2e/datasets/datasets-listing.cy.ts
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/cypress/e2e/models/model-inference.cy.ts
  webapp/cypress/e2e/models/model-training.cy.ts
  webapp/cypress/support/commands.ts
  webapp/cypress/support/component.ts
  webapp/cypress/support/custom-dragdrop.ts
  webapp/cypress/support/deployments/delete.ts
  webapp/cypress/support/deployments/workflow.ts
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/models/common.ts
  webapp/cypress/support/models/create.ts
  webapp/cypress/support/training/create.ts
  webapp/package-lock.json
  webapp/package.json
  webapp/src/features/datasets/components/DatasetForm/index.tsx
  webapp/src/features/deployments/MOCK/msw/server.ts
  webapp/src/features/deployments/Pages/ModelDeployments.tsx
  webapp/src/features/models/components/ModelVersionSelect.tsx
  webapp/src/mock/msw/api.ts
  webapp/src/mock/msw/endpoints/deployments/data.ts
  webapp/src/mock/msw/endpoints/deployments/handlers.ts
  webapp/src/mock/msw/endpoints/models/data.ts
  webapp/src/mock/msw/endpoints/models/handlers.ts
  webapp/src/mock/msw/server.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

Release v0.1.7
  backend/pyproject.toml
  generated.txt
Due: none

fix: Z-direction stacking in model editor when clicking to different form entry.
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
Due: check-staged-webapp-style
