Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

check-staged-backend-style:
  name: Checking staged backend code style
  entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

check-staged-webapp-style:
  name: Checking staged webapp code style
  entry: bash -c 'cd webapp && npm run prettier:check'
  fail_fast: true
  pass_filenames: false
  language: system
  stages:
  - commit

lint-staged-backend:
  name: Linting staged code in backend
  entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

lint-staged-webapp:
  name: Linting staged code in webapp
  entry: bash -c "cd webapp && npm run eslint:check"
  language: system
  fail_fast: true
  stages:
  - commit

test-backend-unit:
  name: Running backend unit tests
  entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
  language: system
  stages:
  - commit

test-webapp:
  name: Running front end  unit tests
  entry: bash -c "cd webapp && npm run test:unit"
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - commit

fix: Small UI improvements
  webapp/src/features/datasets/components/DatasetDetailsView/index.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnConfigAccordion.tsx
Due: check-staged-webapp-style

Release v0.1.12
  backend/pyproject.toml
Due: none

fix alternating metric display
  webapp/src/features/models/modelSlice.ts
Due: check-staged-webapp-style

Release v0.1.13
  backend/pyproject.toml
Due: none

fix gateway timeout error
  infrastructure/helm/valeus-genentech/backend.yaml
Due: none

Release v0.1.14
  backend/pyproject.toml
Due: none

chore: Refactored dashboard cards stylish + new file upload button component
  webapp/src/components/atoms/FileUploadInput/index.tsx
  webapp/src/components/molecules/Loading.tsx
  webapp/src/features/dashboard/Dashboard.tsx
  webapp/src/features/dashboard/DashboardCard.tsx
  webapp/src/features/dashboard/DatasetsCard/index.tsx
  webapp/src/features/dashboard/DeploymentsCard/index.tsx
  webapp/src/features/dashboard/ModelsCard/index.tsx
  webapp/src/features/dashboard/NotificationList.tsx
  webapp/src/features/dashboard/TrainingsCard/index.tsx
  webapp/src/features/datasets/components/DatasetForm/index.tsx
Due: check-staged-webapp-style

test: Cypress parallelism prototype
  .github/workflows/ci-cypress.yml
Due: none

test: Cypress parallelism prototype pt.2
  .github/workflows/ci-cypress.yml
Due: none

test: Cypress parallelism prototype pt.3
  .github/workflows/ci-cypress.yml
Due: none

test: Cypress parallelism prototype pt.4
  .github/workflows/ci-cypress.yml
Due: none

test: Cypress parallelism prototype pt.5
  webapp/cypress.config.ts
  webapp/package-lock.json
  webapp/package.json
Due: check-staged-webapp-style

test: Fix Cypress bug on Cypress not handling multiple listeners for the same event.
  webapp/cypress.config.ts
  webapp/package-lock.json
  webapp/package.json
Due: check-staged-webapp-style

perf: improve dataset download time during model check
  backend/fleet/file_utils.py
  backend/fleet/ray_actors/model_check_actor.py
  backend/fleet/utils/dataset.py
  backend/mariner/core/aws.py
  backend/mariner/entities/dataset.py
  backend/mariner/models.py
  backend/mariner/schemas/dataset_schemas.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/fixtures/dataset.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: add check related fields on model classes
  backend/mariner/alembic/versions/8812f081252b_add_check_status_columns.py
  backend/mariner/entities/model.py
  backend/mariner/schemas/model_schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: adjust default chunk_size for 16 kilobytes [no ci]
  backend/mariner/core/aws.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

perf: improve dataset download time during model check (#173)
  backend/fleet/file_utils.py
  backend/fleet/ray_actors/model_check_actor.py
  backend/fleet/utils/dataset.py
  backend/mariner/core/aws.py
  backend/mariner/entities/dataset.py
  backend/mariner/models.py
  backend/mariner/schemas/dataset_schemas.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/fixtures/dataset.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Release v0.1.15
  backend/pyproject.toml
Due: none

feat: Starting implementation of the model check fix.
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
  webapp/src/features/models/components/ModelCheckingStatusChip.tsx
  webapp/src/features/models/components/ModelVersions.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/hooks/useAppNavigation.tsx
Due: check-staged-webapp-style

feat: Implemented auto fill for the model creation page form and model editor + fixed bug in the breadcrumbs not parsing the variables correctly.
  webapp/src/app/rtk/generated/models.ts
  webapp/src/components/organisms/ModelBuilder/formSchema.ts
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/features/models/components/ModelAutocomplete/index.tsx
  webapp/src/features/models/modelSlice.ts
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/hooks/useAppNavigation.tsx
Due: check-staged-webapp-style

Release v0.1.16
  backend/pyproject.toml
Due: none

feat: make model check async
  backend/api/api_v1/endpoints/model.py
  backend/api/websocket.py
  backend/fleet/ray_actors/model_check_actor.py
  backend/fleet/ray_actors/tasks.py
  backend/mariner/alembic/versions/6048519ddbce_add_check_status_and_created_by_on_.py
  backend/mariner/alembic/versions/8812f081252b_add_check_status_columns.py
  backend/mariner/entities/model.py
  backend/mariner/exceptions/model_exceptions.py
  backend/mariner/experiments.py
  backend/mariner/models.py
  backend/mariner/schemas/model_schemas.py
  backend/mariner/stores/model_sql.py
  backend/pylintrc
  backend/tests/api/api_v1/test_models.py
  backend/tests/fixtures/model.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: ObjectRay is not subscriptable
  backend/mariner/models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

tests: fix missing parameterize in test
  backend/mariner/models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: Refactored layout of the model checking badge in the model version table + finishing integration with the backend.
  webapp/package-lock.json
  webapp/src/app/rtk/generated/datasets.ts
  webapp/src/app/rtk/generated/models.ts
  webapp/src/app/websocket/context.tsx
  webapp/src/app/websocket/handler.ts
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/features/models/components/ModelDetailsView.tsx
  webapp/src/features/models/components/ModelOverview.tsx
  webapp/src/features/models/components/ModelVersions.tsx
  webapp/src/features/models/modelSlice.ts
  webapp/src/features/models/pages/ModelCreateV2/ModelConfigForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/mock/msw/endpoints/datasets/data.ts
  webapp/src/mock/msw/endpoints/datasets/handlers.ts
Due: check-staged-webapp-style

fix: Async Model checking routine not being applied for model versions with pre existent model
  backend/fleet/ray_actors/model_check_actor.py
  backend/mariner/models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: improve backend logs
  backend/alembic.ini
  backend/api/logging.py
  backend/api/main.py
  backend/log_config.json
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fup
  backend/api/websocket.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

improve logs
  backend/api/main.py
  backend/log_config.json
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: [wip] update model version route [no ci]
  .gitignore
  backend/api/api_v1/endpoints/model.py
  backend/fleet/torch_/models.py
  backend/mariner/models.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

add prometheus python client
  backend/.env
  backend/api/api_v1/endpoints/datasets.py
  backend/api/api_v1/endpoints/experiments.py
  backend/api/api_v1/endpoints/login.py
  backend/api/api_v1/endpoints/model.py
  backend/api/api_v1/endpoints/oauth.py
  backend/api/api_v1/endpoints/units.py
  backend/api/api_v1/endpoints/users.py
  backend/api/fastapi_app.py
  backend/mariner/utils/__init__.py
  backend/mariner/utils/metrics.py
  backend/poetry.lock
  backend/pyproject.toml
  grafana/dashboards/backend.json
  prometheus/prometheus.yaml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Adjustments in the AWS download_head method + small changes.
  backend/mariner/core/aws.py
  backend/mariner/models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: Renamed ModelCreateV2 component to ModelForm + fixed TS errors.
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/component/ModelForm.cy.tsx
  webapp/src/app/rtk/generated/models.ts
  webapp/src/app/rtk/models.ts
  webapp/src/app/types/domain/models.ts
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.stories.tsx
  webapp/src/features/models/components/TransformConstructorForm.tsx
  webapp/src/features/models/pages/ModelForm/DatasetConfigurationForm.stories.tsx
  webapp/src/features/models/pages/ModelForm/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelForm/FeatureAndTargets.tsx
  webapp/src/features/models/pages/ModelForm/ModelConfigForm.tsx
  webapp/src/features/models/pages/ModelForm/ModelSetup.tsx
  webapp/src/features/models/pages/ModelForm/index.tsx
  webapp/src/hooks/useAppNavigation.tsx
Due: check-staged-webapp-style

fix: DatasetCreate component test
  webapp/cypress/component/DatasetCreate.cy.tsx
  webapp/src/components/atoms/FileUploadInput/index.tsx
  webapp/src/features/datasets/components/DatasetForm/index.tsx
  webapp/src/mock/msw/endpoints/datasets/data.ts
  webapp/src/mock/msw/endpoints/datasets/handlers.ts
Due: check-staged-webapp-style

test: Fixed "model-inference" E2E test.
  webapp/cypress/e2e/models/model-inference.cy.ts
Due: check-staged-webapp-style

fix: download_head function for compressed files
  backend/mariner/core/aws.py
  backend/mariner/utils.py
  backend/tests/mariner/core/test_aws.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: Implemented new validator for GlobalPooling layer batch argument + improved layout of the suggestions list section.
  webapp/src/components/templates/TorchModelEditorV2/SuggestionsList/index.tsx
  webapp/src/mock/msw/endpoints/datasets/data.ts
  webapp/src/mock/msw/endpoints/datasets/handlers.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/GlobalPoolingValidatorVisitor.ts
Due: check-staged-webapp-style

fix: add check_status RUNNING
  backend/mariner/alembic/versions/6048519ddbce_add_check_status_and_created_by_on_.py
  backend/mariner/entities/model.py
  backend/mariner/schemas/model_schemas.py
  backend/tests/api/api_v1/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Implemented handling for new model check state value.
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
  webapp/src/features/models/components/ModelVersions.tsx
Due: check-staged-webapp-style

Path conditions:
  check-staged-backend-style: any of: backend.*(fleet|mariner|api|tests).*\.py and \.py$
  check-staged-webapp-style: any of: webapp.*\.(ts|tsc)
  lint-staged-backend: any of: ^backend/ and \.py$
  lint-staged-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
  test-backend-unit: any of: ^backend/ and \.py$
  test-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
