Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-single

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-push
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: format-check
        name: Checking staged code style (Possibly fixable with scripts/format.sh)
        entry: cd backend && poetry run sh scripts/check-format.sh
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: '(mariner|model_builder|api|tests).*\.py'
        stages:
          - commit
      - id: format-fix
        name: Checking staged code style (Possibly fixable with scripts/format.sh)
        entry: cd backend && poetry run sh scripts/format-single.sh
        pass_filenames: true
        language: system
        types: [python]
        files: '(mariner|model_builder|api|tests).*\.py'
        stages:
          - manual
      - id: lint-single
        name: Linting staged code with scripts/lint-single.sh
        entry: cd backend && poetry run sh scripts/lint-single.sh
        language: system
        types: [python]
        pass_filenames: true
        fail_fast: true
        files: '(mariner|model_builder|api).*\.py'
        stages:
          - commit
      - id: test
        name: Running short tests
        entry: cd backend && sh scripts/test.sh
        language: system
        pass_filenames: false
        fail_fast: true
        stages:
          - manual

fix: reshape output vectors to work with most of the metrics
  backend/fleet/metrics.py
  backend/tests/fleet/utils/test_data.py
Due: format-check

fix merge error that recreated
  backend/tests/fleet/test_torch_.py
Due: format-check

feat: new regressors
  backend/tests/data/yaml/sklearn_extra_trees_regressor.yaml
  backend/tests/data/yaml/sklearn_knearest_neighbor_regressor.yaml
Due: none

fix: mariner.core.config should not be a script
  backend/api/api_v1/endpoints/oauth.py
  backend/api/deps.py
  backend/api/fastapi_app.py
  backend/fleet/ray_actors/deployments_manager.py
  backend/fleet/train/custom_logger.py
  backend/mariner/core/aws.py
  backend/mariner/core/config.py
  backend/mariner/core/github.py
  backend/mariner/core/security.py
  backend/mariner/datasets.py
  backend/mariner/db/init_db.py
  backend/mariner/db/session.py
  backend/mariner/experiments.py
  backend/mariner/models.py
  backend/mariner/oauth.py
  backend/mariner/users.py
  backend/poetry.lock
  backend/pylintrc
  backend/pyproject.toml
  backend/tests/api/api_v1/test_datasets.py
  backend/tests/api/api_v1/test_deployment.py
  backend/tests/api/api_v1/test_experiments.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/api/api_v1/test_notifications.py
  backend/tests/api/api_v1/test_units.py
  backend/tests/api/api_v1/test_users.py
  backend/tests/conftest.py
  backend/tests/fixtures/dataset.py
  backend/tests/fixtures/model.py
  backend/tests/fixtures/user.py
  backend/tests/fleet/ray_actors/test_dataset_transforms.py
  backend/tests/utils/user.py
Due: format-check, lint-single

feat: adapt aws package to use STS if AWS_MODE equals sts
  backend/mariner/core/aws.py
Due: format-check, lint-single

add command to run live documentatoin server locally
  Makefile
Due: none

feat: add check for consistent use od AWS_MODe
  backend/mariner/core/config.py
Due: format-check, lint-single

fix: unit tests ci validating presence of AWS related env vars
  .github/workflows/ci.yml
Due: none

Fix Conflit
  .gitlab-ci.yml
  infrastructure/helm/valeus-genentech/backend.yaml
  infrastructure/helm/valeus-genentech/mlflow.yaml
  infrastructure/helm/valeus-genentech/ray-head.yaml
  infrastructure/helm/valeus-genentech/ray-worker.yaml
  infrastructure/helm/values-trident/backend.yaml
  infrastructure/helm/values-trident/mlflow.yaml
  infrastructure/helm/values-trident/ray-head.yaml
  infrastructure/helm/values-trident/ray-worker.yaml
Due: none

webapp
  .github/workflows/cicd-webapp-dev.yml
Due: none

docs: add notebook with scikit examples
  backend/fleet/utils/data.py
  backend/notebooks/Preprocessing Pipeline.ipynb
  backend/notebooks/ScikitModels.ipynb
Due: none

feat: classifier test yaml models
  backend/tests/data/yaml/sklearn_hiv_extra_trees_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_knearest_neighbor_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_random_forest_classifier.yaml
  backend/tests/data/yaml/sklearn_sampl_extra_trees_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_knearest_neighbor_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_knn_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_random_forest_regressor.yaml
  backend/tests/fleet/test_fleet.py
Due: format-check

Fix dockerfile
  dockerfiles/Dockerfile
Due: none

style (fleet/utils/data.py)
  backend/fleet/utils/data.py
Due: none

chore: make black format lines too long
  backend/pyproject.toml
Due: none

remove mypy and flake from linters
  backend/scripts/check-format.sh
  backend/scripts/lint-single.sh
  backend/scripts/lint.sh
Due: none
