Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: check-staged-backend-style
        name: Checking staged backend code style
        entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: 'backend.*(fleet|mariner|api|tests).*\.py'
        stages:
          - commit
      - id: check-staged-webapp-style
        name: Checking staged webapp code style
        entry: bash -c 'cd webapp && npm run prettier:check'
        fail_fast: true
        files: 'webapp.*\.(ts|tsc)'
        pass_filenames: false
        language: system
        stages:
          - commit
      - id: lint-staged-backend
        name: Linting staged code in backend
        entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
        language: system
        types: [python]
        files: '^backend/'
        pass_filenames: true
        fail_fast: true
        stages:
          - commit
      - id: lint-staged-webapp
        name: Linting staged code in webapp
        entry: bash -c "cd webapp && npm run eslint:check"
        language: system
        types: [ts, tsx]
        files: ^webapp/
        fail_fast: true
        stages:
          - commit
      - id: test-backend-unit
        name: Running backend unit tests
        entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
        language: system
        files: '^backend/'
        types: [ python ]
        stages:
          - commit
      - id: test-webapp
        name: Running front end  unit tests
        entry: bash -c "cd webapp && npm run test:unit"
        language: system
        pass_filenames: false
        fail_fast: true
        files: '^webapp/'
        types: [ ts, tsx ]
        stages:
          - commit
      # Manual hooks
      - id: format-staged-fix-backend
        verbose: true
        name: Format staged files in the backend
        entry: bash -c 'cd backend && poetry run sh scripts/format-single.sh ${@#"backend/"}' --
        pass_filenames: true
        files: '^backend/'
        types: [python]
        language: system
        stages:
          - manual
      - id: format-staged-fix-webapp
        name: Formats staged files in the webapp
        entry: bash -c  "cd webapp && npm run prettier:fix && npm run eslint:fix"
        language: system
        stages:
          - manual

feat: Implemented fitArgs attribute for the "dataset.spec" form value when using the sklearn model input component + small error validation improvements
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
  webapp/src/components/organisms/ModelBuilder/utils.ts
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

fix: bad usages of LOG.error
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/fleet/train/custom_logger.py
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Model creation E2E tests issues at model setup form and model editor nodes.
  webapp/cypress/support/models/build-model.ts
  webapp/src/features/models/components/ColumnDescriptionSelector.tsx
Due: check-staged-webapp-style

fix: Sklearn model input validations on model creation page + refactored stepSelected to not consider constructorArgs configs + refactored stepSelected get error method
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
  webapp/src/components/organisms/ModelBuilder/formSchema.ts
  webapp/src/components/organisms/ModelBuilder/types.ts
  webapp/src/components/organisms/ModelBuilder/utils.ts
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

refactor: Removed static backend host URL in Cypress E2E tests to use env variables.
  webapp/cypress.config.js
  webapp/cypress/support/dataset/delete.ts
  webapp/cypress/support/deployments/workflow.ts
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/models/common.ts
  webapp/cypress/support/models/create.ts
  webapp/cypress/support/training/create.ts
  webapp/src/app/api.ts
Due: check-staged-webapp-style

fix: add strategy to dataset config in model creation payload
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

test: Implemented E2E tests for the Sklearn model creation form.
  backend/tests/data/yaml/binary_classification_model.yaml
  backend/tests/data/yaml/multiclass_classification_model.yaml
  backend/tests/data/yaml/multitarget_classification_model.yaml
  backend/tests/data/yaml/sklearn_test.yaml
  webapp/cypress/e2e/models/model-creation.cy.ts
  webapp/cypress/support/models/build-model.ts
  webapp/src/components/molecules/CustomAccordion.tsx
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
  webapp/src/components/organisms/ModelBuilder/utils.ts
  webapp/src/features/models/components/ColumnConfigurationView/ColumnConfigAccordion.tsx
  webapp/src/features/models/pages/ModelCreateV2/ModelSetup.tsx
Due: check-staged-webapp-style

fix: featurizers of categorical data marked as transforms instead of featurizers
  backend/fleet/preprocessing.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: make experiment.epochs optional
  backend/mariner/alembic/versions/e3a60c031614_make_epochs_and_hyperparams_nullable.py
  backend/mariner/entities/experiment.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fup
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: make sklearn training request config nullable
  backend/mariner/schemas/experiment_schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: make epochs nullable for repository creation describer class [no ci]
  backend/mariner/stores/experiment_sql.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: remove list from mol feat __call__ signature
  backend/fleet/model_builder/featurizers/small_molecule_featurizer.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Detaset delete request payload error + refactored deployment request fix to the right way + fixed deployment-workflow e2e test.
  webapp/cypress/e2e/deployments/deployment-workflow.cy.ts
  webapp/openapi-config.ts
  webapp/src/app/rtk/datasets.ts
  webapp/src/app/rtk/generated/auth.ts
  webapp/src/app/rtk/generated/datasets.ts
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/features/deployments/Components/DeploymentForm.tsx
Due: check-staged-webapp-style

fix: molecule featurizer problems with array
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/utils/data.py
  backend/tests/conftest.py
  backend/tests/data/yaml/sklearn_hiv_extra_trees_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_knearest_neighbor_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_random_forest_classifier.yaml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Deployment-form E2E test failing by an old TEST_USER attribute value.
  Makefile
  backend/.env
  backend/mariner/core/config.py
  webapp/.env
  webapp/cypress.config.js
  webapp/cypress/support/commands.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: Unit tests error caused by "yaml" package module import on Jest.
  webapp/jest.config.js
Due: none

fix: adjust model training form to support sklearn
  backend/mariner/db/init_db.py
  webapp/src/features/trainings/pages/CreateTraining/index.tsx
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: Missed deleteDataset reducer matcher correction.
  webapp/src/features/datasets/datasetSlice.ts
Due: check-staged-webapp-style

fix: dataset-config-form E2E test not filling the dataset columns correctly.
  webapp/cypress/e2e/models/dataset-config-form.cy.ts
  webapp/cypress/support/dataset/create.ts
  webapp/cypress/support/dataset/examples.ts
  webapp/cypress/support/models/build-model.ts
Due: check-staged-webapp-style

fix: PR review corrections.
  Makefile
  backend/.env
  backend/mariner/core/config.py
  webapp/.env
  webapp/cypress.config.js
  webapp/cypress/e2e/deployments/deployment-workflow.cy.ts
  webapp/src/app/rtk/datasets.ts
  webapp/src/features/datasets/datasetSlice.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: simplify skleran model config yamls
  backend/fleet/scikit_/model_functions.py
  backend/fleet/scikit_/schemas.py
  backend/fleet/utils/data.py
  backend/fleet/utils/graph.py
  backend/tests/data/yaml/sklearn_hiv_extra_trees_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_knearest_neighbor_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_random_forest_classifier.yaml
  backend/tests/data/yaml/sklearn_sampl_extra_trees_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_knearest_neighbor_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_knn_regressor.yaml
  backend/tests/data/yaml/sklearn_sampl_random_forest_regressor.yaml
  backend/tests/fleet/utils/test_data.py
  backend/tests/mariner/test_experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: remove fitArgs from model creation request payload
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
Due: check-staged-webapp-style

fix: Model Training form
  webapp/src/features/models/components/ModelExperimentForm/index.tsx
  webapp/src/features/trainings/pages/CreateTraining/index.tsx
Due: check-staged-webapp-style

fix: Inference page not working properly with models with difference versions with frameworks.
  webapp/src/features/models/components/ModelVersionInferenceView/ModelInput/index.tsx
Due: check-staged-webapp-style

feat: New alert toast when predicting a untrained model on inference page.
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
Due: check-staged-webapp-style

fix: Applied the framework input value from the last version when creating a new one.
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

fix: Dataset select input on model creation page menu item list bugs + applied debounce for dataset options fetch
  webapp/src/features/datasets/components/DatasetSelect.tsx
  webapp/src/features/models/pages/ModelCreateV2/FeatureAndTargets.tsx
Due: check-staged-webapp-style

fix: Unexpected behaviors on model inference page when dealing with models with different framework versions + applied framework tag on model version input select.
  webapp/src/features/models/components/ModelMetricsView.tsx
  webapp/src/features/models/components/ModelVersionSelect.tsx
Due: check-staged-webapp-style

feat: Implemented mocked version of featurizers input filters for Sklearn model creation form.
  webapp/src/app/rtk/generated/models.ts
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
Due: check-staged-webapp-style

fix: Removed remaining firArgs schema validations on model creation component.
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

fix: Typescript errors + updated RTK generation
  webapp/cypress/support/models/build-model.ts
  webapp/src/app/rtk/generated/datasets.ts
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
  webapp/src/app/types/domain/experiments.ts
  webapp/src/components/molecules/Text.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.stories.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.stories.tsx
  webapp/src/components/templates/DeploymentPrediction.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/EditorSelect.tsx
  webapp/src/features/deployments/Components/DeploymentForm.tsx
  webapp/src/features/models/components/AddTransformerModal.tsx
  webapp/src/features/models/components/ModelExperimentForm/index.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/features/trainings/components/AdvancedOptionsForm.tsx
  webapp/src/features/trainings/components/CheckpointingForm.tsx
  webapp/src/features/trainings/components/MetricSelect.tsx
  webapp/src/features/trainings/pages/CreateTraining/defaultExperimentFormValues.tsx
  webapp/src/features/trainings/pages/CreateTraining/index.tsx
Due: check-staged-webapp-style

fix: Training page form not applying default config for Torch model versions + form input errors highlights applied for remaining inputs.
  webapp/src/features/models/components/ModelExperimentForm/index.tsx
  webapp/src/features/trainings/components/MetricSelect.tsx
  webapp/src/features/trainings/pages/CreateTraining/index.tsx
Due: check-staged-webapp-style

feat: Implemented component tests using Cypress + component test to validate proper filters for sklearn preprocessing featurizer inputs.
  webapp/cypress.config.js
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/cypress/support/commands.ts
  webapp/cypress/support/component-index.html
  webapp/cypress/support/component.ts
  webapp/package.json
Due: check-staged-webapp-style

fix: prediction endpoint for sklearn models
  backend/api/api_v1/endpoints/model.py
  backend/fleet/model_functions.py
  backend/fleet/options.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/utils/data.py
  backend/tests/api/api_v1/test_experiments.py
  backend/tests/fleet/test_fleet.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: cli simultaneous trainings load test should start from 1 training [no ci]
  backend/cli/load_testing/commands/simultaneous_trainings.py
Due: lint-staged-backend, test-backend-unit

fix: stop applying default featurizers in all models
  backend/fleet/utils/data.py
  webapp/src/components/templates/ModelEditorV2/OptionsSidebarV2.tsx
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

removed unused AddTransformerModal component.
  webapp/src/features/models/components/AddTransformerModal.tsx
Due: check-staged-webapp-style

fix: Model editor node positions been changed when a constructor arg value is updated + small fixes.
  webapp/src/components/templates/ModelEditor/Components/ModelEditorControls/index.tsx
  webapp/src/components/templates/ModelEditorV2/index.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/BaseNode/index.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/EditorSelect.tsx
  webapp/src/hooks/useModelEditor/index.tsx
  webapp/src/hooks/useModelEditor/types.ts
Due: check-staged-webapp-style
