Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-single

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-push
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: format-check
        name: Checking staged code style (Possibly fixable with scripts/format.sh)
        entry: cd backend && poetry run sh scripts/check-format.sh
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: '(mariner|model_builder|api|tests).*\.py'
        stages:
          - commit
      - id: format-fix
        name: Checking staged code style (Possibly fixable with scripts/format.sh)
        entry: cd backend && poetry run sh scripts/format-single.sh
        pass_filenames: true
        language: system
        types: [python]
        files: '(mariner|model_builder|api|tests).*\.py'
        stages:
          - manual
      - id: lint-single
        name: Linting staged code with scripts/lint-single.sh
        entry: cd backend && poetry run sh scripts/lint-single.sh
        language: system
        types: [python]
        pass_filenames: true
        fail_fast: true
        files: '(mariner|model_builder|api).*\.py'
        stages:
          - commit
      - id: test
        name: Running short tests
        entry: cd backend && sh scripts/test.sh
        language: system
        pass_filenames: false
        fail_fast: true
        stages:
          - manual

feat: create deployment pass
  backend/mariner/db/init_db.py
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/support/deployments/create.ts
  webapp/cypress/support/models/create.ts
  webapp/src/features/deployments/Components/DeploymentsTable.tsx
Due: format-check, lint-single

feat: deployment form test
  webapp/cypress.config.js
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/support/deployments/create-update.ts
  webapp/cypress/support/deployments/find-deployment.ts
  webapp/src/features/deployments/Components/ShareStrategyInput/OrganizationStrategy.tsx
Due: none

feat: delete deployment after test
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/support/deployments/create-update.ts
  webapp/cypress/support/deployments/delete.ts
Due: none

feat: using cy commands instead imports
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/support/commands.ts
  webapp/cypress/support/deployments/create-update.ts
  webapp/cypress/support/deployments/delete.ts
  webapp/cypress/support/deployments/find-deployment.ts
  webapp/cypress/support/deployments/index.ts
Due: none

feat: deployment workflow tests
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/e2e/deployments/deployment-workflow.cy.ts
  webapp/cypress/support/deployments/find-deployment.ts
  webapp/cypress/support/deployments/index.ts
  webapp/cypress/support/deployments/workflow.ts
  webapp/cypress/support/training/create.ts
Due: none

feat: clear cookies before login
  webapp/cypress/support/commands.ts
Due: none

apply PreprocessingPipeline to torch dataset [no ci]
  backend/fleet/dataset_schemas.py
  backend/fleet/exceptions.py
  backend/fleet/model_builder/component_builder.py
  backend/fleet/model_builder/featurizers/bio_sequence_featurizer.py
  backend/fleet/model_builder/featurizers/integer_featurizer.py
  backend/fleet/model_builder/featurizers/small_molecule_featurizer.py
  backend/fleet/model_builder/model_schema_query.py
  backend/fleet/model_builder/schemas.py
  backend/fleet/model_builder/splitters.py
  backend/fleet/preprocessing.py
  backend/fleet/torch_/models.py
  backend/fleet/utils/data.py
  backend/fleet/utils/graph.py
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/utils/test_data.py
  backend/tests/fleet/utils/test_graph.py
Due: format-check, lint-single

style: prettify code
  backend/mariner/core/config.py
  backend/mariner/core/mlflowapi.py
  backend/mariner/entities/deployment.py
  backend/tests/api/api_v1/test_deployment.py
  backend/tests/conftest.py
  backend/tests/fleet/ray_actors/test_deployments_manager.py
Due: format-check, lint-single

update recent notebooks [no ci]
  backend/notebooks/Fleet Model Training.ipynb
  backend/notebooks/ScikitModels.ipynb
Due: none

wip: bringing scikit model functions to life [no ci]
  backend/fleet/base_schemas.py
  backend/fleet/dataset_schemas.py
  backend/fleet/mlflow.py
  backend/fleet/model_functions.py
  backend/fleet/preprocessing.py
  backend/fleet/scikit_/__init__.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/scikit_/schemas.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/utils/data.py
  backend/mariner/core/mlflowapi.py
  backend/notebooks/Fleet Model Training.ipynb
  backend/notebooks/Preprocessing Pipeline.ipynb
  backend/notebooks/ScikitModels.ipynb
  backend/tests/data/csv/SAMPL.csv
  backend/tests/data/yaml/sklearn_knn_regressor_sampl.yaml
  backend/tests/data/yaml/sklearn_random_forest_regressor_sampl.yaml
  backend/tests/fleet/test_fleet.py
Due: format-check, lint-single

fix: scikit model functions
  backend/fleet/scikit_/model_functions.py
Due: none

use mlflow experiment id in scope
  backend/fleet/model_functions.py
Due: none

tests: adapt test_fleet to properly assert mlflow artifacts of sklearn models
  backend/fleet/dataset_schemas.py
  backend/fleet/utils/data.py
  backend/tests/fleet/test_fleet.py
Due: format-check

style: format code
  backend/fleet/scikit_/model_functions.py
  backend/tests/fleet/test_fleet.py
Due: format-check

feat: update tests
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/e2e/deployments/deployment-workflow.cy.ts
Due: none

improve code from review
  backend/fleet/dataset_schemas.py
  backend/fleet/metrics.py
  backend/fleet/model_builder/splitters.py
  backend/fleet/model_functions.py
  backend/fleet/preprocessing.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/utils/data.py
  backend/notebooks/SAMPL.csv
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/fleet/utils/test_data.py
Due: format-check, lint-single

fix: remove debugging regression metric comments
  backend/fleet/metrics.py
Due: none

style: running format scripts
  backend/mariner/db/init_db.py
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.ts
Due: format-check, lint-single

feat: resolving comments
  backend/mariner/db/init_db.py
  webapp/cypress/support/deployments/create-update.ts
  webapp/cypress/support/deployments/workflow.ts
  webapp/src/features/deployments/Components/ShareStrategyInput/OrganizationStrategy.tsx
Due: format-check, lint-single

fix: suggestions for binary out module
  webapp/src/model-compiler/src/implementation/validation/visitors/ShapeAndDataTypeVisitor.ts
Due: none
