Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

check-staged-backend-style:
  name: Checking staged backend code style
  entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

check-staged-webapp-style:
  name: Checking staged webapp code style
  entry: bash -c 'cd webapp && npm run prettier:check'
  fail_fast: true
  pass_filenames: false
  language: system
  stages:
  - commit

lint-staged-backend:
  name: Linting staged code in backend
  entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

lint-staged-webapp:
  name: Linting staged code in webapp
  entry: bash -c "cd webapp && npm run eslint:check"
  language: system
  fail_fast: true
  stages:
  - commit

test-backend-unit:
  name: Running backend unit tests
  entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
  language: system
  stages:
  - commit

test-webapp:
  name: Running front end  unit tests
  entry: bash -c "cd webapp && npm run test:unit"
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - commit

fix: Clean code improvements
  webapp/src/components/templates/ModelEditorV2/edges/ModelEdge.tsx
  webapp/src/hooks/useModelEditor/index.tsx
  webapp/src/model-compiler/src/implementation/commands/ApplySuggestionsCommand.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearLinearWarningVisitor.ts
Due: check-staged-webapp-style

update environment to be able to run app locally
  backend/.env
  docker-compose.override.yml
  webapp/.env
Due: none

fix: setting updated_at on experiment when training finishes
  backend/cli/__init__.py
  backend/cli/__main__.py
  backend/cli/admin/commands/__init__.py
  backend/cli/admin/commands/get_token.py
  backend/cli/admin/group.py
  backend/cli/load_testing/commands/__init__.py
  backend/cli/load_testing/commands/dataset_creation.py
  backend/cli/load_testing/commands/deployment_predictions.py
  backend/cli/load_testing/commands/model_capacity.py
  backend/cli/load_testing/commands/simultenous_trainings.py
  backend/cli/load_testing/group.py
  backend/mariner/experiments.py
  backend/mariner/stores/experiment_sql.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: setting updated_at on experiment when training finishes
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: add endpoint to get experiment by id
  backend/api/api_v1/endpoints/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: add cli with number of simultaneous trainings load test
  backend/cli/__init__.py
  backend/cli/__main__.py
  backend/cli/load_testing/commands/simultenous_trainings.py
  backend/cli/load_testing/group.py
Due: lint-staged-backend, test-backend-unit

update environment to be able to run app locally [no ci]
  backend/cli/admin/commands/get_token.py
  backend/cli/load_testing/commands/__init__.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/cli/load_testing/commands/simultenous_trainings.py
  backend/cli/load_testing/group.py
  backend/tests/data/yaml/lipo_regressor.yaml
Due: lint-staged-backend, test-backend-unit

fix command to get token [no ci]
  backend/cli/admin/commands/get_token.py
Due: lint-staged-backend, test-backend-unit

upload ,missing changes
  backend/cli/__main__.py
  backend/cli/admin/commands/get_token.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
Due: lint-staged-backend, test-backend-unit

fix error in model used for load testing and add clear .env.secret
  backend/.env.secret
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/tests/data/yaml/lipo_regressor.yaml
Due: lint-staged-backend, test-backend-unit

fix: Refactored component edges mapping on the TransversalInfo class to handle nodes with multiple associations in a single edge.
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.test.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.ts
  webapp/src/model-compiler/src/implementation/validation/TransversalInfo.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/GCNValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearValidatorVisitor.ts
  webapp/tests/fixtures/model-schemas.ts
Due: check-staged-webapp-style

fix: Validation not being applied for "one to many" edge association in Linear components.
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearLinearWarningVisitor.ts
Due: check-staged-webapp-style

adjust mlflow port
  backend/.env
Due: none

ui: parameterize PreprocessingStepSelect label and add SklearnModelInput component
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
Due: check-staged-webapp-style

feat: add missing args_options sklearn model classes
  backend/fleet/_scikit.py
  backend/fleet/model_builder/component_overrides.yml
  backend/fleet/options.py
  backend/fleet/scikit_/schemas.py
  backend/tests/fleet/test_options.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ui: sort options returned by useModelOptions
  webapp/src/hooks/useModelOptions.ts
Due: check-staged-webapp-style

fix: circular import
  backend/fleet/scikit_/schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: get constructor args summary even without generated class [no ci]
  backend/fleet/options.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: circular import
  backend/api/fastapi_app.py
  backend/api/main.py
  backend/fleet/overrides.yml
  backend/fleet/scikit_/schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: raising validation errors more explicitly
  backend/fleet/yaml_model.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Tests/benchmarking cli (#138)
  backend/.env.secret
  backend/api/api_v1/endpoints/experiments.py
  backend/cli/__init__.py
  backend/cli/__main__.py
  backend/cli/admin/commands/__init__.py
  backend/cli/admin/commands/get_token.py
  backend/cli/admin/group.py
  backend/cli/load_testing/commands/__init__.py
  backend/cli/load_testing/commands/dataset_creation.py
  backend/cli/load_testing/commands/deployment_predictions.py
  backend/cli/load_testing/commands/model_capacity.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/cli/load_testing/group.py
  backend/mariner/experiments.py
  backend/mariner/stores/experiment_sql.py
  backend/tests/data/yaml/lipo_regressor.yaml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: extend component_overrides.yml file to have more options and be more compact
  backend/fleet/model_builder/component_overrides.yml
  backend/fleet/options.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Load Test
  dockerfiles/Dockerfile
Due: none

feat: Applied integration of the SKLearn model builder component with React Hook Form + validations for required fields.
  webapp/src/components/atoms/Select/index.tsx
  webapp/src/components/molecules/Text.tsx
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/formSchema.ts
  webapp/src/features/models/components/ColumnConfigurationView/ColumnPreprocessingPipelineForm.tsx
Due: check-staged-webapp-style

add cli package to dockerfiles
  dockerfiles/Dockerfile
  dockerfiles/Dockerfile.local
Due: none

fix: Undone modifications on small_regressor_schema yaml file + removed wrong "edge_index" forwardArg attribute on AddPool component.
  backend/tests/data/yaml/small_regressor_schema.yaml
Due: none

feat: leave only a few options for the sklearn models
  backend/fleet/model_builder/layers/global_pooling.py
  backend/fleet/options.py
  backend/fleet/overrides.yml
  backend/fleet/scikit_/schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ui: improve component select input
  Makefile
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
  webapp/src/hooks/useModelOptions.ts
Due: check-staged-webapp-style

feat: Implement visitor to suggest fix for linear layer followed by linear layer (#137)
  backend/tests/data/yaml/linear_linear_validation_schema.yaml
  backend/tests/data/yaml/small_regressor_schema.yaml
  webapp/cypress.config.js
  webapp/cypress/e2e/complete-test.cy.ts
  webapp/cypress/e2e/models/model-creation.cy.ts
  webapp/cypress/e2e/models/suggestions/model-suggestions.cy.ts
  webapp/cypress/fixtures/data/json/small_regressor_schema2.json
  webapp/cypress/fixtures/data/yaml/binary_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/categorical_features_model.yaml
  webapp/cypress/fixtures/data/yaml/dna_example.yml
  webapp/cypress/fixtures/data/yaml/model_fails_on_training.yml
  webapp/cypress/fixtures/data/yaml/multiclass_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/multitarget_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/small_regressor_schema.yaml
  webapp/cypress/fixtures/models/schemas/small_classifier_schema.yaml
  webapp/cypress/fixtures/models/schemas/small_regressor_schema.yaml
  webapp/cypress/support/models/build-model.ts
  webapp/cypress/support/models/common.ts
  webapp/cypress/support/models/index.ts
  webapp/cypress/vite.config.ts
  webapp/src/components/templates/ModelEditorV2/edges/ModelEdge.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/hooks/useModelEditor/index.tsx
  webapp/src/hooks/useModelEditor/types.ts
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.test.ts
  webapp/src/model-compiler/src/implementation/ModelEditorImpl.ts
  webapp/src/model-compiler/src/implementation/commands/AddComponentCommand.ts
  webapp/src/model-compiler/src/implementation/commands/ApplySuggestionsCommand.ts
  webapp/src/model-compiler/src/implementation/commands/EditComponentsCommand.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.test.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.ts
  webapp/src/model-compiler/src/implementation/validation/TransversalInfo.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/GCNValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearLinearWarningVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearValidatorVisitor.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
  webapp/tests/fixtures/model-schemas.ts
Due: check-staged-webapp-style

Update configmaps and disable unused pipelines
  .github/workflows/webapp-cicd-dev.yml
  .github/workflows/webapp-cicd-prod.yml
  configmaps/dev/mariner.yaml
  configmaps/dev/mlflow.yaml
  configmaps/dev/ray-head.yaml
  configmaps/dev/ray-worker.yaml
Due: none

fix: deployment workflows
  .github/workflows/deploy-all-manual.yml
  .github/workflows/deploy-all.yml
Due: none

Update configmaps and disable unused pipelines
  .github/workflows/deploy-all-manual.yml
  .github/workflows/deploy-all.yml
  infrastructure/configmaps/dev/mariner.yaml
  infrastructure/configmaps/dev/mlflow.yaml
  infrastructure/configmaps/dev/ray-head.yaml
  infrastructure/configmaps/dev/ray-worker.yaml
Due: none

fix: Refactored PreprocessingStepSelect component to work non attached to the RHF + form update bugfixes + fixed validation bugs
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/formSchema.ts
Due: check-staged-webapp-style

fix: Refactored PreprocessingStepSelect component to work non attached to the RHF + form update bugfixes + fixed validation bugs (#141)
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/formSchema.ts
Due: check-staged-webapp-style

Add infisical
  .github/workflows/deploy-all.yml
  infrastructure/helm/helm-mariner/templates/deployment.yaml
  infrastructure/helm/helm-mariner/templates/infisical.yaml
  infrastructure/helm/helm-mariner/values.yaml
  infrastructure/helm/helm-mlflow/templates/deployment.yaml
  infrastructure/helm/helm-mlflow/templates/infisical.yaml
  infrastructure/helm/helm-mlflow/values.yaml
  infrastructure/helm/helm-ray-head/templates/deployment.yaml
  infrastructure/helm/helm-ray-head/templates/infisical.yaml
  infrastructure/helm/helm-ray-head/values.yaml
  infrastructure/helm/helm-ray-worker/templates/deployment.yaml
  infrastructure/helm/helm-ray-worker/templates/infisical.yaml
  infrastructure/helm/helm-ray-worker/values.yaml
Due: none

remove RAY_HEAD_* varialbles
  backend/entrypoints/ray-worker.sh
Due: none

debug ray-worker RAY_ADDRESS
  backend/entrypoints/ray-worker.sh
Due: none

Enable docker build and remove configmaps
  .github/workflows/deploy-all-manual.yml
  .github/workflows/deploy-all.yml
Due: none

Path conditions:
  check-staged-backend-style: any of: backend.*(fleet|mariner|api|tests).*\.py and \.py$
  check-staged-webapp-style: any of: webapp.*\.(ts|tsc)
  lint-staged-backend: any of: ^backend/ and \.py$
  lint-staged-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
  test-backend-unit: any of: ^backend/ and \.py$
  test-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
