Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

check-staged-backend-style:
  name: Checking staged backend code style
  entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

check-staged-webapp-style:
  name: Checking staged webapp code style
  entry: bash -c 'cd webapp && npm run prettier:check'
  fail_fast: true
  pass_filenames: false
  language: system
  stages:
  - commit

lint-staged-backend:
  name: Linting staged code in backend
  entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

lint-staged-webapp:
  name: Linting staged code in webapp
  entry: bash -c "cd webapp && npm run eslint:check"
  language: system
  fail_fast: true
  stages:
  - commit

test-backend-unit:
  name: Running backend unit tests
  entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
  language: system
  stages:
  - commit

test-webapp:
  name: Running front end  unit tests
  entry: bash -c "cd webapp && npm run test:unit"
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - commit

fix: Improved model editor sidebar layout.
  webapp/src/components/templates/ModelEditorV2/OptionsSidebarV2.tsx
  webapp/src/components/templates/ModelEditorV2/index.tsx
Due: check-staged-webapp-style

feat: Improved React flow component performance + removed unecessary rerenders + migrated React Flow to the v11 + improved model creation button behavior.
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/templates/ModelEditor/Components/CustomAutoLayoutButton/index.tsx
  webapp/src/components/templates/ModelEditor/Components/DownloadModelEditorImageButton/exportModel.ts
  webapp/src/components/templates/ModelEditor/Components/DownloadModelEditorImageButton/index.tsx
  webapp/src/components/templates/ModelEditor/Components/ModelEditorControls/index.tsx
  webapp/src/components/templates/ModelEditor/Components/edges/CustomEdge/index.tsx
  webapp/src/components/templates/ModelEditorV2/ModelEditorV2.stories.tsx
  webapp/src/components/templates/ModelEditorV2/OptionsSidebarV2.tsx
  webapp/src/components/templates/ModelEditorV2/edges/ModelEdge.tsx
  webapp/src/components/templates/ModelEditorV2/index.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/index.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/CustomHandle.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/CustomHandles.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/InputNode.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/OutputNode.tsx
  webapp/src/features/models/components/ModelCreateActionButtons.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/hooks/useModelEditor/index.tsx
  webapp/src/hooks/useModelEditor/types.ts
  webapp/src/hooks/useModelEditor/utils.ts
  webapp/src/model-compiler/src/implementation/SchemaContext.ts
Due: check-staged-webapp-style

fix: Two linear nodes in sequence validation applying an ReLU node with no constructor args.
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearLinearWarningVisitor.ts
Due: check-staged-webapp-style

fix: Sklearn test schema file outdated + dataset CSV file read not applying correct file path.
  backend/tests/data/yaml/sklearn_test.yaml
  webapp/cypress/support/dataset/create.ts
Due: check-staged-webapp-style

fix: Model editor E2E tests after v11 upgrade.
  webapp/cypress/support/models/common.ts
  webapp/src/components/templates/ModelEditor/Components/ModelEditorControls/index.tsx
Due: check-staged-webapp-style

tests: update test applying featurizer that was before applied default
  backend/tests/data/yaml/dna_example.yml
Due: none

fix: prediction pipeline considering prediction should have the target in data when it doesn\t'
  backend/fleet/scikit_/model_functions.py
  backend/fleet/utils/data.py
  backend/tests/data/yaml/sklearn_hiv_extra_trees_classifier.yaml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ci: fix ci env healthcheck
  docker-compose-cicd.yml
Due: none

chore: install missing dependency for molfeat to work in python-slim
  dockerfiles/Dockerfile
Due: none

chore: install more missing dependencies for molfeat to work in python-slim
  dockerfiles/Dockerfile
Due: none

fix: Sklearn model form smiles featurizer filtering considering IntegerFeaturizer option.
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
Due: check-staged-webapp-style

fix: Sklearn form transform field allowing to expand even when the transform has no constructor args.
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
Due: check-staged-webapp-style

Resize resources
  infrastructure/helm/helm-mariner/values.yaml
  infrastructure/helm/helm-mlflow/values.yaml
  infrastructure/helm/helm-ray-head/values.yaml
  infrastructure/helm/helm-ray-worker/values.yaml
Due: none

fix: log train and val metrics of sklearn models to mariner db
  backend/api/api_v1/endpoints/experiments.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_functions.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/train/custom_logger.py
  backend/tests/conftest.py
  backend/tests/mariner/test_experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: validation metrics not being persisted
  backend/fleet/model_functions.py
  backend/fleet/utils/data.py
  backend/mariner/experiments.py
  backend/mariner/stores/experiment_sql.py
  backend/tests/mariner/test_experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: add metrics table to metrics tab in model page
  webapp/src/components/templates/Table/index.tsx
  webapp/src/features/models/components/ModelMetricsView.tsx
Due: check-staged-webapp-style

tests: improve training e2e to assert metrics table
  webapp/cypress/e2e/models/model-training.cy.ts
  webapp/cypress/support/dataset/examples.ts
  webapp/cypress/support/models/create.ts
  webapp/cypress/support/models/index.ts
  webapp/cypress/support/training/create.ts
  webapp/src/features/models/components/ModelDetailsView.tsx
  webapp/src/features/models/components/ModelMetricsView.tsx
Due: check-staged-webapp-style

chore: add cypress folder to tsconfig.prod.json
  webapp/tsconfig.prod.json
Due: none

fix: typeerrors in cypress
  webapp/cypress/e2e/deployments/deployment-form.cy.ts
  webapp/cypress/e2e/deployments/deployment-workflow.cy.ts
  webapp/cypress/e2e/models/model-training.cy.ts
  webapp/cypress/support/models/create.ts
  webapp/cypress/support/models/index.ts
  webapp/cypress/support/training/create.ts
Due: check-staged-webapp-style

fix: cast nan values to "NaN" when computing metrics
  backend/fleet/metrics.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: Start implementing model details page for Sklearn model.
  webapp/src/components/atoms/Select/index.tsx
  webapp/src/components/molecules/CustomAccordion.tsx
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/ConstructorArgInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/hooks/useModelBuilder.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnConfigAccordion.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

fix: metrics computation
  backend/fleet/metrics.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

chore: remove duplicates from .env
  backend/.env
Due: none

fix: stop setting host through SERVER_HOST (reserved for external dns)
  backend/api/main.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: Finished Sklearn model form UI improvements + fixed some of the remaining bugs on this page.
  webapp/cypress/component/DataPreprocessingInput.cy.tsx
  webapp/src/components/atoms/DataTypeChip.tsx
  webapp/src/components/molecules/CustomAccordion.tsx
  webapp/src/components/organisms/ModelBuilder/ColumnsPipelineInput.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.tsx
  webapp/src/features/models/components/ColumnConfigurationView/ColumnConfigAccordion.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
Due: check-staged-webapp-style

fix: Sklearn preprocessing input components on Storybook + preprocessing options array item values being overwritten on input select.
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.stories.tsx
  webapp/src/components/organisms/ModelBuilder/DataPreprocessingInput.tsx
  webapp/src/components/organisms/ModelBuilder/PreprocessingStepSelect.tsx
  webapp/src/components/organisms/ModelBuilder/SklearnModelInput.stories.tsx
  webapp/src/components/templates/TorchModelEditor/Components/DownloadModelEditorImageButton/index.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/hooks/useTorchModelEditor/index.tsx
Due: check-staged-webapp-style

tests: add assertions on metrics table checking during training e2e test
  webapp/cypress/e2e/models/model-training.cy.ts
Due: check-staged-webapp-style

ci: fix e2e not failing properly
  .github/workflows/ci-e2e.yml
  Makefile
Due: none

fix: Stage bar not progressing during training
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Model training creation not working with Sklearn models by the fact of the new experiment creation param.
  backend/mariner/experiments.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Removed sklearn lib models from TorchModelEditor's sidebar.
  webapp/src/components/templates/TorchModelEditorV2/OptionsSidebarV2.tsx
Due: check-staged-webapp-style

Add verification probes on ray
  backend/scripts/ray-head-probe.sh
  backend/scripts/ray-worker-probe.sh
  infrastructure/helm/helm-ray-head/templates/deployment.yaml
  infrastructure/helm/helm-ray-worker/templates/deployment.yaml
Due: none

fix: activation constructor argument in the TransformerEncoderLayer node not listing correctly.
  backend/fleet/overrides.yml
Due: none

Fix permissions of scripts
  backend/scripts/ray-head-probe.sh
  backend/scripts/ray-worker-probe.sh
Due: none

tests: fix cypress model-creation test
  webapp/cypress/support/models/build-model.ts
Due: check-staged-webapp-style

tests: fix linear linaer cypress test
  backend/tests/data/yaml/linear_linear_validation_schema.yaml
Due: none

fix: create deployment
  webapp/src/features/deployments/deploymentsApi.ts
Due: check-staged-webapp-style

fix: delete deployments
  webapp/src/features/deployments/deploymentsApi.ts
Due: check-staged-webapp-style

tests: fix create "share model publically test"
  backend/api/api_v1/endpoints/users.py
  webapp/cypress/support/deployments/find-deployment.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

Path conditions:
  check-staged-backend-style: any of: backend.*(fleet|mariner|api|tests).*\.py and \.py$
  check-staged-webapp-style: any of: webapp.*\.(ts|tsc)
  lint-staged-backend: any of: ^backend/ and \.py$
  lint-staged-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
  test-backend-unit: any of: ^backend/ and \.py$
  test-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
