Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

check-staged-backend-style:
  name: Checking staged backend code style
  entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

check-staged-webapp-style:
  name: Checking staged webapp code style
  entry: bash -c 'cd webapp && npm run prettier:check'
  fail_fast: true
  pass_filenames: false
  language: system
  stages:
  - commit

lint-staged-backend:
  name: Linting staged code in backend
  entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

lint-staged-webapp:
  name: Linting staged code in webapp
  entry: bash -c "cd webapp && npm run eslint:check"
  language: system
  fail_fast: true
  stages:
  - commit

test-backend-unit:
  name: Running backend unit tests
  entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
  language: system
  stages:
  - commit

test-webapp:
  name: Running front end  unit tests
  entry: bash -c "cd webapp && npm run test:unit"
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - commit

fix: model update
  backend/api/api_v1/endpoints/model.py
  backend/fleet/ray_actors/model_check_actor.py
  backend/mariner/models.py
  backend/mariner/schemas/model_schemas.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: Model update backend integration + disabled non updatable model form fields.
  webapp/src/app/rtk/generated/models.ts
  webapp/src/features/models/pages/ModelForm/ModelConfigForm.tsx
  webapp/src/features/models/pages/ModelForm/index.tsx
Due: check-staged-webapp-style

chore: Reimplemented package-lock.json
  webapp/package-lock.json
Due: none

fix: Model creation endpoint not applying `created_by_id` attribute value to the payload.
  backend/mariner/models.py
  backend/mariner/schemas/model_schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: final adjustments for real time check status update
  backend/mariner/models.py
  webapp/src/features/models/components/ModelDetailsView.tsx
  webapp/src/features/models/modelSlice.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

refactor: Refactored Model Editor commands to handle execution of multiple suggestions at once + implemented suggestion node highlighting
  webapp/src/components/templates/TorchModelEditorV2/SuggestionsList/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/edges/ModelEdge.tsx
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/OutputNodeInputs.tsx
  webapp/src/hooks/useTorchModelEditor/index.tsx
  webapp/src/hooks/useTorchModelEditor/types.ts
  webapp/src/model-compiler/src/implementation/SchemaContext.ts
  webapp/src/model-compiler/src/implementation/TorchModelEditorImpl.test.ts
  webapp/src/model-compiler/src/implementation/TorchModelEditorImpl.ts
  webapp/src/model-compiler/src/implementation/commands/AddComponentCommand.ts
  webapp/src/model-compiler/src/implementation/commands/ApplySuggestionsCommand.ts
  webapp/src/model-compiler/src/implementation/commands/Command.ts
  webapp/src/model-compiler/src/implementation/commands/EditComponentsCommand.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/GCNValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearLinearWarningVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/MolFeaturizerValidatorVisitor.ts
Due: check-staged-webapp-style

fix: Model validation unit tests and TS errors.
  webapp/src/components/templates/TorchModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/model-compiler/src/implementation/Suggestion.tsx
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.test.ts
Due: check-staged-webapp-style

fix: Fixed bugs on Redux model slice not refresing state on getById and creation queries + Removed old model check references on model creation E2E test.
  webapp/cypress/support/models/build-model.ts
  webapp/src/features/models/modelSlice.ts
Due: check-staged-webapp-style

fix: TS errors
  webapp/src/app/websocket/handler.ts
Due: check-staged-webapp-style

tests: fix backend tests [no ci]
  backend/tests/fixtures/model.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

test: Implemented tests for ModelForm component in "fix" mode.
  webapp/cypress/component/ModelForm.cy.tsx
  webapp/cypress/support/DefaultProviders.tsx
  webapp/src/components/organisms/StackTrace.tsx
  webapp/src/features/models/pages/ModelForm/index.tsx
  webapp/src/mock/msw/endpoints/models/data.ts
  webapp/src/mock/msw/endpoints/models/handlers.ts
Due: check-staged-webapp-style

feat: Implemented validation to avoid users to modify non failed models by accessing the model fix page endpoint directly.
  webapp/src/features/models/pages/ModelForm/index.tsx
Due: check-staged-webapp-style

Release v0.1.17
  backend/pyproject.toml
Due: none

Release v0.1.18
  backend/pyproject.toml
Due: none

fix: add sklearn model version breaks because of missing check implementation
  backend/mariner/models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ci: rename python ci
  .github/workflows/ci-python.yml
Due: none

tests: fix test badly assigned as unit but dependent on docker services
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

style: fix import order
  backend/pyproject.toml
  backend/scripts/check-format.sh
  backend/scripts/format-single.sh
  backend/scripts/format-staged.sh
  backend/scripts/format.sh
  backend/scripts/lint-single.sh
  backend/scripts/lint.sh
  backend/tests/__init__.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

style: run formatter with correct config
  backend/Torch-Model-Test.ipynb
  backend/api/websocket.py
  backend/cli/load_testing/commands/simultaneous_trainings.py
  backend/fleet/model_builder/layers_schema.py
  backend/notebooks/CustomDataset.ipynb
  backend/notebooks/CustomModelV2.ipynb
  backend/notebooks/DAGGeneration.ipynb
  backend/notebooks/DocsIntrospectionAnalysis.ipynb
  backend/notebooks/ExampleModel.ipynb
  backend/notebooks/Fleet Model Training.ipynb
  backend/notebooks/ModelBuilding.ipynb
  backend/notebooks/ModelDeployment.ipynb
  backend/notebooks/ModelDeploymentLocal.ipynb
  backend/notebooks/MoleculeFeaturizedModel.ipynb
  backend/notebooks/Preprocessing Pipeline.ipynb
  backend/notebooks/ScikitModels.ipynb
  backend/notebooks/Splitters.ipynb
  backend/notebooks/TorchModelTest.ipynb
  backend/poetry.lock
  backend/pyproject.toml
  backend/scripts/format.sh
  backend/tests/fleet/utils/test_data.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Release v0.1.19
  backend/pyproject.toml
Due: none

fix: update sklearn model versions
  backend/mariner/models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: timezone of models
  backend/mariner/schemas/model_schemas.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: Implemented model duplication feature.
  webapp/src/features/models/components/ModelVersions.tsx
  webapp/src/features/models/pages/ModelForm/index.tsx
Due: check-staged-webapp-style

chore: Small clean code improvements.
  webapp/src/components/templates/TorchModelEditorV2/SuggestionsList/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/styles.ts
  webapp/src/hooks/useTorchModelEditor/index.tsx
  webapp/src/hooks/useTorchModelEditor/types.ts
  webapp/src/model-compiler/src/implementation/Suggestion.tsx
Due: check-staged-webapp-style

fix: torch models with categorical outputs failing model checking and training
  backend/fleet/ray_actors/model_check_actor.py
  backend/fleet/torch_/models.py
  backend/fleet/utils/data.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: check state transition
  backend/mariner/models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Release v0.1.21
  backend/pyproject.toml
Due: none

feat: Implemented debugpy tool for debugging + VSCode debugger settings.
  .vscode/launch.json
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.debug.yml
Due: none

feat: Start implementing new tabs in Torch model editor sidebar + new model template creation form.
  webapp/src/components/organisms/Tabs/index.tsx
  webapp/src/components/templates/TorchModelEditorV2/ModelTemplates.tsx
  webapp/src/components/templates/TorchModelEditorV2/OptionsSidebarV2.tsx
  webapp/src/components/templates/TorchModelEditorV2/SidebarBase.tsx
  webapp/src/components/templates/TorchModelEditorV2/SidebarToggle.tsx
  webapp/src/components/templates/TorchModelEditorV2/index.tsx
  webapp/src/features/models/components/ModelDetailsView.tsx
  webapp/src/features/models/components/ModelTemplateForm.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
Due: check-staged-webapp-style

test: Adjustments on dataset-update E2E test.
  webapp/cypress/e2e/datasets/dataset-update.cy.ts
Due: check-staged-webapp-style

fix(fleet): allow model predictions to return labels for categorical models
  backend/fleet/base_schemas.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/model_builder/templates/componentv2.py.jinja
  backend/fleet/model_functions.py
  backend/fleet/model_schemas.py
  backend/fleet/options.py
  backend/fleet/preprocessing.py
  backend/fleet/ray_actors/model_check_actor.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/schemas.py
  backend/fleet/utils/data.py
  backend/fleet/yaml_model.py
  backend/mariner/core/mlflowapi.py
  backend/mariner/models.py
  backend/mariner/schemas/model_schemas.py
  backend/notebooks/Latest-Model-Train-And-Predict.ipynb
  backend/tests/api/api_v1/test_models.py
  backend/tests/data/yaml/sklearn_hiv_extra_trees_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_knearest_neighbor_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_random_forest_classifier.yaml
  backend/tests/fixtures/model.py
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/test_fleet_dataset_schema.py
  backend/tests/fleet/utils/test_data.py
  backend/tests/mariner/migrations/test_migrations.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Release v0.1.22
  backend/pyproject.toml
Due: none

chore: Implemented API mock setting on frontend + small improvements in model templates feature implementation.
  webapp/cypress/support/component.ts
  webapp/src/App.tsx
  webapp/src/components/templates/TorchModelEditorV2/SidebarBase.tsx
  webapp/src/features/deployments/Components/ShareStrategyInput/index.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/mock/msw/index.ts
  webapp/src/vite-env.d.ts
Due: check-staged-webapp-style

fix: return classifier probabiblities and class indicies for both OneHotEncoder and LabelEncoder featurized category targets
  backend/api/api_v1/endpoints/model.py
  backend/fleet/base_schemas.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_functions.py
  backend/fleet/preprocessing.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/models.py
  backend/fleet/utils/data.py
  backend/fleet/utils/graph.py
  backend/mariner/models.py
  backend/notebooks/Fleet Model Training.ipynb
  backend/notebooks/Latest-Model-Train-And-Predict.ipynb
  backend/notebooks/ScikitModels.ipynb
  backend/notebooks/TorchModelTest.ipynb
  backend/tests/api/api_v1/test_experiments.py
  backend/tests/conftest.py
  backend/tests/data/csv/HIV2.csv
  backend/tests/data/yaml/sklearn_hiv_extra_trees_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_knearest_neighbor_classifier.yaml
  backend/tests/data/yaml/sklearn_hiv_random_forest_classifier.yaml
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/utils/test_data.py
  backend/tests/mariner/test_experiments.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: use class indices in classifiers inference page
  backend/fleet/utils/data.py
  webapp/src/components/molecules/Vega/VerticalHistogram.tsx
  webapp/src/features/models/common.ts
  webapp/src/features/models/components/ModelVersionInferenceView/ModelPrediction.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
  webapp/src/features/models/pages/ModelForm/index.tsx
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: stop auto featurizing bio dtypes
  backend/fleet/utils/data.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: dont auto featurize categorical or any other feature
  backend/fleet/utils/data.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: webapp type errors
  webapp/src/components/molecules/Vega/VerticalHistogram.tsx
  webapp/src/features/models/common.ts
  webapp/src/features/models/components/ModelVersionInferenceView/ModelPrediction.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
Due: check-staged-webapp-style

fix: DatasetTable paginatoin
  webapp/src/features/datasets/components/DatasetTable.tsx
Due: check-staged-webapp-style

Release v0.1.23
  backend/pyproject.toml
Due: none

Path conditions:
  check-staged-backend-style: any of: backend.*(fleet|mariner|api|tests).*\.py and \.py$
  check-staged-webapp-style: any of: webapp.*\.(ts|tsc)
  lint-staged-backend: any of: ^backend/ and \.py$
  lint-staged-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
  test-backend-unit: any of: ^backend/ and \.py$
  test-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
