Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, lint-staged-webapp, test-backend-unit, test-webapp

check-staged-backend-style:
  name: Checking staged backend code style
  entry: bash -c 'cd backend && poetry run sh scripts/check-format.sh ${@#"backend/"}'
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

check-staged-webapp-style:
  name: Checking staged webapp code style
  entry: bash -c 'cd webapp && npm run prettier:check'
  fail_fast: true
  pass_filenames: false
  language: system
  stages:
  - commit

lint-staged-backend:
  name: Linting staged code in backend
  entry: bash -c 'cd backend && poetry run sh scripts/lint-single.sh ${@#"backend/"}' --
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

lint-staged-webapp:
  name: Linting staged code in webapp
  entry: bash -c "cd webapp && npm run eslint:check"
  language: system
  fail_fast: true
  stages:
  - commit

test-backend-unit:
  name: Running backend unit tests
  entry: cd backend && poetry run sh scripts/test.sh -m pytest -m \"not integration\"
  language: system
  stages:
  - commit

test-webapp:
  name: Running front end  unit tests
  entry: bash -c "cd webapp && npm run test:unit"
  language: system
  pass_filenames: false
  fail_fast: true
  stages:
  - commit

feat: refactor options and add new ones
  backend/api/api_v1/endpoints/model.py
  backend/api/main.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/generate.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/model_builder/options.py
  backend/fleet/model_builder/schemas.py
  backend/fleet/model_builder/templates/base.py.jinja
  backend/fleet/model_builder/templates/componentv2.py.jinja
  backend/fleet/options.py
  backend/fleet/preprocessing.py
  backend/mariner/models.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/fleet/test_options.py
  backend/tests/fleet/test_scikit_models.py
  backend/tests/model_builder/test_options.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: create sklearn model test
  backend/mariner/core/aws.py
  backend/mariner/models.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/conftest.py
  backend/tests/fixtures/dataset.py
  backend/tests/fixtures/model.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ci: fix workflow file syntax [no ci]
  .github/workflows/ci.yml
Due: none

fix: oauth params for genentech
  backend/conf.toml
  backend/mariner/oauth.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: refactor options and add new ones (#134)
  backend/api/api_v1/endpoints/model.py
  backend/api/main.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/generate.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/model_builder/options.py
  backend/fleet/model_builder/schemas.py
  backend/fleet/model_builder/templates/base.py.jinja
  backend/fleet/model_builder/templates/componentv2.py.jinja
  backend/fleet/options.py
  backend/fleet/preprocessing.py
  backend/mariner/models.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/fleet/test_options.py
  backend/tests/fleet/test_scikit_models.py
  backend/tests/model_builder/test_options.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

Move Data Science Libs (#133)
  backend/api/api_v1/endpoints/model.py
  backend/fleet/base_schemas.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_functions.py
  backend/fleet/ray_actors/dataset_transforms.py
  backend/fleet/ray_actors/deployments_manager.py
  backend/fleet/ray_actors/model_check_actor.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/stats.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/utils/dataset.py
  backend/fleet/validation/functions.py
  backend/mariner/core/aws.py
  backend/mariner/datasets.py
  backend/mariner/deployment.py
  backend/mariner/entities/dataset.py
  backend/mariner/models.py
  backend/mariner/schemas/dataset_schemas.py
  backend/mariner/schemas/model_schemas.py
  backend/mariner/utils.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/conftest.py
  backend/tests/fixtures/dataset.py
  backend/tests/fixtures/model.py
  backend/tests/fleet/ray_actors/test_deployments_manager.py
  backend/tests/fleet/test_fleet.py
  backend/tests/mariner/test_models.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: options should override default args according to component_overrides.yml
  backend/fleet/options.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

tests: add integration mark to mlflow dependent test
  backend/tests/fleet/test_mlflow.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: change pipeline persistence flow
  backend/fleet/model_functions.py
  backend/fleet/scikit_/model_functions.py
  backend/fleet/torch_/model_functions.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix: torch predict, pipeline transform needs to work without target column as well
  backend/fleet/model_functions.py
  backend/fleet/utils/data.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: dataset configuration screen start
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/FeatureAndTargets.tsx
  webapp/src/features/models/pages/ModelCreateV2/ModelSetup.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

feat: new data type guard for quantity and numerical
  webapp/src/app/types/domain/datasets.ts
Due: check-staged-webapp-style

feat: update rtk
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
Due: check-staged-webapp-style

fix: generated types
  backend/fleet/preprocessing.py
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: model-editor type issues and preprocessing.py not used import
  backend/fleet/preprocessing.py
  webapp/cypress/support/models/build-model.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

feat: groupColumnsTransformsFeaturizers
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

fix: webapp type issues
  backend/fleet/dataset_schemas.py
  backend/fleet/preprocessing.py
  webapp/cypress/support/models/build-model.ts
  webapp/openapi-config.ts
  webapp/src/app/rtk/datasets.ts
  webapp/src/app/rtk/generated/datasets.ts
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/users.ts
  webapp/src/app/types/domain/models.ts
  webapp/src/components/organisms/InferenceOutput.tsx
  webapp/src/components/templates/DeploymentPrediction.tsx
  webapp/src/components/templates/ModelEditorV2/ModelEditorV2.stories.tsx
  webapp/src/components/templates/ModelEditorV2/index.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/ConstructorArgsInputs.tsx
  webapp/src/features/datasets/datasetSlice.ts
  webapp/src/features/deployments/deploymentsApi.ts
  webapp/src/features/deployments/deploymentsSlice.ts
  webapp/src/features/models/components/ModelExperimentForm/index.tsx
  webapp/src/features/models/components/ModelVersionDetailsView.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/index.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
  webapp/src/features/trainings/components/AdvancedOptionsForm.tsx
  webapp/src/features/trainings/components/CheckpointingForm.tsx
  webapp/src/features/trainings/components/MetricSelect.tsx
  webapp/src/hooks/useModelEditor/types.ts
  webapp/src/model-compiler/src/implementation/commands/AddComponentCommand.ts
  webapp/src/model-compiler/src/implementation/commands/EditComponentsCommand.ts
  webapp/src/model-compiler/src/implementation/modelSchemaQuery.spec.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
  webapp/src/model-compiler/src/utils.ts
Due: check-staged-backend-style, check-staged-webapp-style, lint-staged-backend, test-backend-unit

fix: default constructor args of FPVecFilteredTransformer
  backend/fleet/preprocessing.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: genentech oauth integration
  backend/conf.toml
  backend/mariner/core/config.py
  backend/mariner/oauth.py
  backend/mariner/users.py
  backend/oauth_providers/genentech.py
  backend/oauth_providers/main.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: add transfomer ui
  webapp/src/features/models/components/AddTransformerModal.tsx
  webapp/src/features/models/components/TransformerConstructorForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/ModelSetup.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

remove client_secrets from repo
  backend/conf.toml
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: basic UI for transformers
  webapp/src/features/models/components/TransformerConstructorForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/index.tsx
Due: check-staged-webapp-style

allow to ignore auth providers define in conf.toml through env vars
  backend/conf.toml
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

allow to add cors with SERVER_CORS env
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

allow to overwrite cors with SERVER_CORS env
  backend/mariner/core/config.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

feat: refactor code
  webapp/src/components/molecules/CustomAccordion.tsx
  webapp/src/features/models/components/ColumnConfigurationView/index.tsx
  webapp/src/features/models/components/TransformerConstructorForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
Due: check-staged-webapp-style

feat: improving UI
  webapp/src/components/molecules/CustomAccordion.tsx
  webapp/src/features/models/components/ColumnConfigurationView/index.tsx
  webapp/src/features/models/components/TransformerConstructorForm.tsx
  webapp/src/features/models/pages/ModelCreateV2/DatasetConfigurationForm.tsx
Due: check-staged-webapp-style

allow to overwrite conf.toml server.host with SERVER_HOST env var
  backend/mariner/core/config.py
  backend/oauth_providers/genentech.py
  backend/oauth_providers/main.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

format code
  backend/tests/fleet/ray_actors/test_deployments_manager.py
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

undo conf.toml
  backend/.env
  backend/api/deps.py
  backend/api/fastapi_app.py
  backend/conf.toml
  backend/mariner/core/config.py
  backend/tests/api/api_v1/test_datasets.py
  backend/tests/api/api_v1/test_deployment.py
  backend/tests/api/api_v1/test_experiments.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/api/api_v1/test_notifications.py
  backend/tests/api/api_v1/test_units.py
  backend/tests/api/api_v1/test_users.py
  backend/tests/conftest.py
  backend/tests/fixtures/dataset.py
  backend/tests/fixtures/model.py
  backend/tests/utils/user.py
  docker-compose.yml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

ci: fix ci envs
  .github/workflows/ci-docker.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  backend/mariner/core/config.py
  docker-compose-cicd.yml
  docker-compose.yml
Due: check-staged-backend-style, lint-staged-backend, test-backend-unit

fix ci
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

ci: fix ci
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  check-staged-backend-style: any of: backend.*(fleet|mariner|api|tests).*\.py and \.py$
  check-staged-webapp-style: any of: webapp.*\.(ts|tsc)
  lint-staged-backend: any of: ^backend/ and \.py$
  lint-staged-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
  test-backend-unit: any of: ^backend/ and \.py$
  test-webapp: any of: ^webapp/ and \.(ts|mts|cts)$ and \.tsx$
