Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-single

format-check:
  name: Checking staged code style (Possibly fixable with scripts/format.sh)
  entry: cd backend && poetry run sh scripts/check-format.sh
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

lint-single:
  name: Linting staged code with scripts/lint-single.sh
  entry: cd backend && poetry run sh scripts/lint-single.sh
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

feat: code improvement
  backend/api/api_v1/endpoints/deployments.py
  backend/mariner/deployment.py
  backend/mariner/stores/deployment_sql.py
  webapp/src/features/deployments/Components/DeploymentHeader.tsx
  webapp/src/features/deployments/Components/DeploymentInfereceScreen.tsx
  webapp/src/features/deployments/Components/DeploymentsTable.tsx
  webapp/src/features/deployments/Pages/DeploymentView.tsx
  webapp/src/features/deployments/Pages/DeploymentViewPublic.tsx
  webapp/src/features/models/components/ModelVersionInferenceView/ModelInput/inputs/QuantityInput.tsx
Due: format-check, lint-single

Add documentation
  helm/helm-mariner/README.md
  helm/helm-mlflow/README.md
  helm/helm-ray-head/README.md
  helm/helm-ray-worker/README.md
Due: none

docs: fix format of some docstrings and add warning
  backend/mariner/db/init_db.py
  backend/mariner/models.py
Due: format-check, lint-single

chore: fix pydantic warnings on reused validator
  backend/mariner/core/config.py
Due: format-check, lint-single

feat: improve code documentation; track public predictions
  backend/api/api_v1/endpoints/deployments.py
  backend/mariner/deployment.py
  backend/mariner/schemas/deployment_schemas.py
  backend/mariner/stores/deployment_sql.py
Due: format-check, lint-single

adjust comment
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.ts
Due: none

fix review comments
  backend/fleet/model_builder/components_query.py
  backend/fleet/model_builder/schemas.py
  webapp/src/model-compiler/src/utils.ts
Due: format-check, lint-single

Feat/backward nn validation (#111)
  backend/fleet/data_types.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/components_query.py
  backend/fleet/model_builder/layers_schema.py
  backend/fleet/model_builder/schemas.py
  backend/fleet/model_builder/templates/base.py.jinja
  backend/fleet/torch_/schemas.py
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/rtk/generated/experiments.ts
  webapp/src/app/rtk/generated/models.ts
  webapp/src/app/websocket/types.ts
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/EditorSelect.tsx
  webapp/src/components/templates/ModelEditorV2/nodes/ComponentConfigNode/OutputNodeInputs.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/features/models/components/ModelExperimentForm/OptimizerForm.tsx
  webapp/src/features/trainings/pages/CreateTraining/index.tsx
  webapp/src/model-compiler/src/implementation/modelSchemaQuery.spec.ts
  webapp/src/model-compiler/src/implementation/modelSchemaQuery.ts
  webapp/src/model-compiler/src/implementation/validation/Acceptor.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.test.ts
  webapp/src/model-compiler/src/implementation/validation/ModelValidation.ts
  webapp/src/model-compiler/src/implementation/validation/TransversalInfo.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/ComponentVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/ConcatValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/GCNValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/LinearValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/MolFeaturizerValidatorVisitor.ts
  webapp/src/model-compiler/src/implementation/validation/visitors/ShapeAndDataTypeVisitor.ts
  webapp/src/model-compiler/src/interfaces/model-editor.ts
  webapp/src/model-compiler/src/utils.ts
Due: format-check, lint-single

fix: remove outdated comment
  backend/fleet/model_builder/components_query.py
Due: format-check, lint-single

improve comment
  backend/fleet/torch_/models.py
Due: none

change Sequece to List
  backend/fleet/dataset_schemas.py
Due: none

remove assertions and prints, change type BaseFleet to FleetModelSpecs
  backend/mariner/models.py
  backend/mariner/schemas/model_schemas.py
Due: format-check, lint-single

delete unused files
  backend/tests/fleet/test_torch_.py
  webapp/cypress/fixtures/data/csv/HIV.csv
  webapp/cypress/fixtures/data/csv/Lipophilicity.csv
  webapp/cypress/fixtures/data/csv/bad_dataset.csv
  webapp/cypress/fixtures/data/csv/bio_rna_dna_protein.csv
  webapp/cypress/fixtures/data/csv/chimpanzee.csv
  webapp/cypress/fixtures/data/csv/iris.csv
  webapp/cypress/fixtures/data/csv/model.pt
  webapp/cypress/fixtures/data/csv/sarkisyan_full_seq_data.csv
  webapp/cypress/fixtures/data/csv/zinc.csv
  webapp/cypress/fixtures/data/csv/zinc_extra.csv
  webapp/cypress/fixtures/data/json/small_regressor_schema2.json
  webapp/cypress/fixtures/data/torch_target_model.py
  webapp/cypress/fixtures/data/yaml/binary_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/categorical_features_model.yaml
  webapp/cypress/fixtures/data/yaml/dna_example.yml
  webapp/cypress/fixtures/data/yaml/model_fails_on_training.yml
  webapp/cypress/fixtures/data/yaml/multiclass_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/multitarget_classification_model.yaml
  webapp/cypress/fixtures/data/yaml/small_classifier_schema.yaml
  webapp/cypress/fixtures/data/yaml/small_regressor_schema.yaml
  webapp/tests/data/categorical_features_model.yaml
  webapp/tests/data/modelv2.yaml
  webapp/tests/data/small_classifier_schema.yaml
  webapp/tests/data/small_regressor_schema.yaml
  webapp/tests/data/small_regressor_schema2.json
  webapp/tests/data/test_model_with_from_smiles.yaml
  webapp/tests/data/torch_target_model.py
  webapp/tests/data/zinc.csv
Due: format-check

fix review comments
  backend/fleet/torch_/models.py
  backend/mariner/alembic/env.py
  webapp/cypress/support/models/build-model.ts
  webapp/openapi-config.ts
Due: format-check, lint-single

style: run format script
  backend/fleet/torch_/models.py
  backend/mariner/schemas/model_schemas.py
Due: format-check, lint-single

revert loss instantation change
  backend/fleet/torch_/models.py
Due: none

fix unit test failing due missing environment
  backend/mariner/alembic/env.py
Due: format-check, lint-single

feat: add package with graph functions
  backend/fleet/utils/__init__.py
  backend/fleet/utils/data.py
  backend/fleet/utils/graph.py
  backend/tests/fleet/utils/__init__/test_data.py
  backend/tests/fleet/utils/__init__/test_graph.py
Due: format-check

fix type_hint issue
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/schemas.py
  backend/fleet/model_builder/utils.py
  backend/fleet/utils/data.py
  backend/fleet/utils/graph.py
  backend/mariner/alembic/env.py
  backend/tests/fleet/utils/__init__/test_graph.py
Due: format-check, lint-single

feat: review comments
  backend/api/api_v1/endpoints/deployments.py
  backend/mariner/core/security.py
  backend/mariner/deployment.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/mariner/schemas/deployment_schemas.py
  backend/mariner/stores/deployment_sql.py
Due: format-check, lint-single

[wip] iterating preprocessing steps in dataset_config
  backend/fleet/utils/data.py
Due: none

feat: review comments
  backend/mariner/deployment.py
  backend/mariner/entities/deployment.py
  backend/mariner/exceptions/deployment_exceptions.py
  backend/mariner/ray_actors/deployments_manager.py
Due: format-check, lint-single

feat: review comments
  backend/mariner/alembic/versions/809377f238f8_add_deployment_tables.py
  backend/mariner/deployment.py
  backend/mariner/entities/__init__.py
  backend/mariner/entities/deployment.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/mariner/schemas/deployment_schemas.py
  backend/mariner/schemas/token.py
  backend/mariner/stores/deployment_sql.py
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/features/deployments/Components/DeploymentInfereceScreen.tsx
Due: format-check, lint-single

fix: typescript errors
  webapp/src/app/rtk/generated/deployments.ts
  webapp/src/app/websocket/types.ts
Due: none

feat: improve deployment manager first init
  backend/api/api_v1/endpoints/deployments.py
  backend/api/fastapi_app.py
  backend/api/startup_functions.py
  backend/mariner/deployment.py
  backend/mariner/ray_actors/deployments_manager.py
  backend/mariner/schemas/deployment_schemas.py
  backend/mariner/stores/deployment_sql.py
Due: format-check, lint-single

feat: describing function steps with comments
  backend/api/startup_functions.py
Due: format-check, lint-single

feat: load_deployments only if have deployments to load
  backend/api/startup_functions.py
Due: format-check, lint-single

feat: code improvement
  backend/api/fastapi_app.py
Due: format-check, lint-single

feat: code improvement
  backend/api/startup_functions.py
Due: format-check, lint-single

Path conditions:
  format-check: any of: (mariner|model_builder|api|tests).*\.py and \.py$
  lint-single: any of: (mariner|model_builder|api).*\.py and \.py$
