Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-single

format-check:
  name: Checking staged code style (Possibly fixable with scripts/format.sh)
  entry: cd backend && poetry run sh scripts/check-format.sh
  fail_fast: true
  pass_filenames: true
  language: system
  stages:
  - commit

lint-single:
  name: Linting staged code with scripts/lint-single.sh
  entry: cd backend && poetry run sh scripts/lint-single.sh
  language: system
  pass_filenames: true
  fail_fast: true
  stages:
  - commit

fix tests
  backend/tests/fleet/utils/test_data.py
Due: format-check

add notebook showing broken dataframe with featurized molecules
  backend/notebooks/MoleculeFeaturizedModel.ipynb
Due: none

fix: public feching wrong route
  webapp/src/app/websocket/types.ts
Due: none

fix: route warn
  webapp/src/hooks/useAppNavigation.tsx
Due: none

wip
  backend/fleet/utils/data.py
  backend/notebooks/MoleculeFeaturizedModel.ipynb
  backend/notebooks/TorchModelTest.ipynb
  backend/tests/data/yaml/multiclass_classification_model.yaml
  backend/tests/fleet/test_fleet.py
Due: format-check

fix: smiles featurization collating problems
  backend/fleet/utils/data.py
Due: none

Update WebsocketManager.connect docstring
  backend/api/websocket.py
Due: format-check, lint-single

feat: improve dataset creation function
  webapp/cypress/support/dataset/create.ts
Due: none

feat: improve websocket docstrings
  backend/api/websocket.py
Due: format-check, lint-single

feat: using matchPath instead regex to get token
  webapp/src/app/websocket/types.ts
Due: none

fix: dataset torch's dataset mol featurizer collating
  backend/fleet/model_builder/model_schema_query.py
  backend/fleet/model_builder/utils.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/models.py
  backend/fleet/utils/data.py
  backend/tests/mariner/test_datasets.py
  backend/tests/model_builder/test_model_builder_utils.py
Due: format-check, lint-single

fix: type error [no ci]
  backend/fleet/model_builder/component_builder.py
Due: format-check, lint-single

tests: update datasets and tests to run faster
  backend/tests/api/api_v1/test_datasets.py
  backend/tests/api/api_v1/test_models.py
  backend/tests/data/csv/HIV.csv
  backend/tests/data/csv/Lipophilicity.csv
  backend/tests/data/csv/bad_dataset.csv
  backend/tests/data/csv/bio_rna_dna_protein.csv
  backend/tests/data/csv/chimpanzee.csv
  backend/tests/data/csv/iris.csv
  backend/tests/data/csv/model.pt
  backend/tests/data/csv/sarkisyan_full_seq_data.csv
  backend/tests/data/csv/zinc.csv
  backend/tests/data/csv/zinc_extra.csv
  backend/tests/fixtures/dataset.py
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/utils/test_data.py
  backend/tests/mariner/ray_actors/test_dataset_transforms.py
Due: format-check, lint-single

fix: update check function with new torch dataset
  backend/mariner/ray_actors/model_check_actor.py
  backend/mariner/ray_actors/training_actors.py
Due: format-check, lint-single

fix: remove dataset_config from models
  backend/fleet/torch_/models.py
Due: none

fix: double call to datamodules setup
  backend/fleet/torch_/model_functions.py
Due: none

fix: cyclic import in ray
  backend/fleet/model_builder/model_schema_query.py
Due: format-check, lint-single

fix: misleading data type conversion [no ci]
  backend/fleet/torch_/__init__.py
  backend/fleet/utils/data.py
Due: none

fix: remove unused and fix s3 fixture
  backend/fleet/torch_/models.py
  backend/fleet/utils/data.py
  backend/fleet/utils/graph.py
  backend/mariner/core/aws.py
  backend/pylintrc
  backend/tests/fixtures/dataset.py
  backend/tests/fleet/utils/test_graph.py
Due: format-check, lint-single

Path conditions:
  format-check: any of: (mariner|model_builder|api|tests).*\.py and \.py$
  lint-single: any of: (mariner|model_builder|api).*\.py and \.py$
