Repository tridentbio/mariner: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-check, lint-single

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-push
  - pre-commit
repos:
  - repo: local
    hooks:
      - id: format-check
        name: Checking staged code style (Possibly fixable with scripts/format.sh)
        entry: cd backend && poetry run sh scripts/check-format.sh
        fail_fast: true
        pass_filenames: true
        language: system
        types: [python]
        files: '(mariner|model_builder|api|tests).*\.py'
        stages:
          - commit
      - id: format-fix
        name: Checking staged code style (Possibly fixable with scripts/format.sh)
        entry: cd backend && poetry run sh scripts/format-single.sh
        pass_filenames: true
        language: system
        types: [python]
        files: '(mariner|model_builder|api|tests).*\.py'
        stages:
          - manual
      - id: lint-single
        name: Linting staged code with scripts/lint-single.sh
        entry: cd backend && poetry run sh scripts/lint-single.sh
        language: system
        types: [python]
        pass_filenames: true
        fail_fast: true
        files: '(mariner|model_builder|api).*\.py'
        stages:
          - commit
      - id: test
        name: Running short tests
        entry: cd backend && sh scripts/test.sh
        language: system
        pass_filenames: false
        fail_fast: true
        stages:
          - manual

feat: frontend code improvement
  webapp/src/components/atoms/TableActions.tsx
  webapp/src/components/templates/Table/index.tsx
  webapp/src/features/deployments/Components/DeploymentsTable.tsx
  webapp/src/features/deployments/Components/TableActions.tsx
  webapp/src/features/models/components/ModelExperiments.tsx
  webapp/src/features/trainings/pages/TrainingListing/index.tsx
Due: none

feat: update action field in tables
  webapp/src/features/datasets/components/DatasetTable.tsx
  webapp/src/features/models/components/ModelTable.tsx
Due: none

fix: function to make dataframe from preprocessing steps described in dataset config
  backend/fleet/data_types.py
  backend/fleet/dataset_schemas.py
  backend/fleet/model_builder/dataset.py
  backend/fleet/utils/data.py
  backend/mariner/schemas/dataset_schemas.py
Due: format-check, lint-single

fix: small updates to featurizers
  backend/fleet/model_builder/component_builder.py
  backend/fleet/model_builder/featurizers/integer_featurizer.py
  backend/fleet/model_builder/featurizers/small_molecule_featurizer.py
Due: format-check, lint-single

fix: problems causing training failure
  backend/fleet/model_builder/schemas.py
  backend/fleet/model_builder/utils.py
  backend/fleet/utils/graph.py
Due: format-check, lint-single

fix graph tests
  backend/tests/fleet/utils/__init__/test_data.py
  backend/tests/fleet/utils/test_graph.py
  backend/tests/utils/__init__.py
Due: format-check

extract tests
  backend/fleet/utils/data.py
  backend/tests/fleet/utils/test_data.py
Due: format-check

remove prints
  backend/fleet/utils/data.py
Due: none

add pytest pylint plugin
  backend/pylintrc
  backend/pyproject.toml
Due: none

fup
  backend/poetry.lock
Due: none

update bio sequence to return numpy arrays
  backend/fleet/model_builder/featurizers/bio_sequence_featurizer.py
  backend/tests/model_builder/test_sequence_featurizers.py
  backend/tests/utils/utils.py
Due: format-check, lint-single

extract apply_split_index
  backend/fleet/model_builder/splitters.py
Due: format-check, lint-single

feat: multi session
  backend/api/websocket.py
  webapp/src/app/websocket/types.ts
Due: format-check, lint-single

wip
  backend/fleet/model_builder/featurizers/integer_featurizer.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/utils/data.py
  backend/mariner/ray_actors/dataset_transforms.py
  backend/notebooks/TorchModelTest.ipynb
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/utils/test_data.py
Due: format-check, lint-single

feat: anonymous connection to websocket
  backend/api/api_v1/endpoints/deployments.py
  backend/api/deps.py
  backend/api/websocket.py
  backend/mariner/core/security.py
  backend/mariner/datasets.py
  backend/mariner/deployment.py
  backend/mariner/experiments.py
  backend/mariner/schemas/token.py
  webapp/src/app/websocket/context.tsx
  webapp/src/app/websocket/types.ts
  webapp/src/features/deployments/Pages/DeploymentView.tsx
  webapp/src/features/deployments/Pages/DeploymentViewPublic.tsx
  webapp/src/features/deployments/deploymentsSlice.ts
Due: format-check, lint-single

add dataset-config builder
  backend/fleet/dataset_schemas.py
Due: none

make checkpoint_config optional
  backend/fleet/torch_/model_functions.py
Due: none

fix save_hyperparams usage
  backend/fleet/torch_/models.py
Due: none

fix: dtype match between numpy dataframe and torch tensors
  backend/fleet/data_types.py
  backend/fleet/model_functions.py
  backend/fleet/torch_/model_functions.py
  backend/fleet/torch_/models.py
  backend/fleet/utils/data.py
  backend/notebooks/TorchModelTest.ipynb
  backend/tests/fleet/test_fleet.py
  backend/tests/fleet/utils/test_data.py
Due: format-check

feat: websocket tests
  backend/tests/api/test_websocket.py
Due: format-check, lint-single
